@import '../../../../../../styles';

.new-project{
  padding: 3rem 0 5rem 0;

  h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .wrapped-block{
    margin-top: 2rem;
  }

  .uploaded-image-holder{
    width: 100%; 
    margin-top: 2rem;

    .img-box{
      @include calc("width", "25% - 1rem");
      position: relative;
      height: 10rem;
      background-color: #eee;
      display: inline-block;
      margin-right: 1rem;  
      background-size: cover;

      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        display: none;
      }

      i.icon-bin{
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        display: none;
        color: $white;
        cursor: pointer;
      }

      &:hover{

        &:before{
          display: block;
        }

        i.icon-bin{
          display: block;
        }

      }

    }

  }

  ngx-file-drop{ 

    .ngx-file-drop__drop-zone{
      margin-top: 3rem;
      height: 35rem !important;
      border-radius: 1rem;

      &.ngx-file-drop__drop-zone--over{
        background: $light-gray;
      }

      .ngx-file-drop__content{
        border: 2px $mid-gray dashed;
        border-radius: 1rem;
        height: 100%;
        position: relative;

        &:before{
          content: "Drag to Upload Images Here";
          position: absolute;
          color: $dark-gray;

        }
      }
    }
  }

  
}