@import '../../../../../../styles';

.complete-steps{
  background-color: #f2f2f2; 
  padding-bottom: 8rem;

  .steps-header{ 
    padding: 5rem 0 3rem;
    text-align: center;    
    position: relative;

    @include breakpoint($tablet){
      padding: 5rem 3rem 3rem 3rem; 
    }
  
    h2{
      font-size: 2.5rem;
      position: relative;
      z-index: 1; 
      margin-bottom: 4rem;
      margin-bottom: 1rem;

      @include breakpoint($tablet){
        margin-bottom: 0;
      }
    }

    ul.steps{ 
      width: 100%;
      margin: auto;
      margin-top: 2rem; 
      z-index: 1;

      @include breakpoint($tablet){
        display: flex; 
        width: 80%;
        justify-content: center;
      }

      li{
        width: 65%;
        position: relative;
        border-radius: 5px; 
        padding: 2.5rem;
        margin-right: 2.5rem; 
        background: $white;  
        color: darken($mid-gray, 15%);
        @include box-shadow( 0px, 3px, 8px, 1px, rgba(211, 211, 211, 0.25));
        display: none;

        @include breakpoint($tablet){
          display: block;
          @include calc('width', '33.33% - 0rem');
        }

        &:last-child{
          margin-right: 0;
        }

        span.card-title{
          margin-top: 2.5rem;
          margin-bottom: 1rem;
          display: block;
          font-size: $eb-font-size + 0.1;
          color: inherit;
          @include bold;
        }

        p{
          color: inherit;
          font-size: $eb-font-size - 0.3;
          line-height: 1.7rem;
        }

        &.active{
          border: 1px $base-bg-color solid;
          color: $base-bg-color;
          display: block;
         
          @include breakpointMax(767px){
            margin: auto; 
          }

          span.icon{
            color: $white;
            background-color: $base-bg-color;
            border-color: $base-bg-color;
          }  

          &:before{
            background-color: $base-bg-color;
          }

          span{
            color: $base-bg-color;
          }

          p{
            color: $darker-gray;
          }
        }


        &.completed{ 
          border-color: lighten($mid-gray, 5%);  
          color: darken($darker-gray, 15%);
          display: none;

          @include breakpoint($tablet){
            display: block; 
          }

          span.icon{
            color: $white;
            background-color: $light-blue-color; 
          }  

          &:before{
            background-color: $base-bg-color;
          }

          span, p{
            color: inherit;
          }
 

        }

        &:before{
          content: "";
          height: 8px;
          width: 2.5rem;
          background: #f2f2f2;
          position: absolute;
          top: 50%;
          left: -26px; 
          display: none;
        }


        span.icon{ 
          height: 6rem;
          width: 6rem; 
          background-color: lighten($mid-gray, 10%); 
          color: $white;
          position: absolute;
          border-radius: 50%;
          top: -3rem;
          left: calc(50% - 3rem); 
          line-height: 2rem;
          z-index: 10;
          display: block;
          @include flex();
          justify-content: center;

          i{ 
            font-size: $eb-font-size + 0.9;
            color: inherit; 
          }
        }

        &:first-child{

          &:before{
            display: none;
          }

        }
      }
    }
  }

  .steps-form{ 
    width: 100%;
    margin: 0 auto; 
    padding: 4rem 4rem;
    border-radius: 3px;
    @include box-shadow( 0px, 3px, 8px, 1px, rgba(211, 211, 211, 0.25)); 
    border: 1px $light-gray solid;
    background: $white;

    @include breakpoint($tablet){
      width: 80%;
    }
    
    label{
      @include bold;
    }
  }
}

 