@import '../../../../../styles';

label.service-label{
  @include bold;
  margin-right: 2rem;
  display: block;
}

.form-check{
  padding-left: 2.5rem;

  .form-check-input { 
      margin-top: .5rem;
      margin-left: -2.25rem;
  } 
  
}

.form-check-inline{
  margin-right: 2rem;
}

.services{
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px #e0e0e0 solid; 

  .category_block{
    margin-bottom: 15px;

    ul{
      margin-top: 15px;
  
      li{
        margin-bottom: 10px;
      }
    }
  }

  
  
}

