<div class="container-fluid login-screen full-screen">
	<div class="container inner">
		
		<div class="row inner">
			<div class="col-md-6 login-img-area flex-center">
				<img src="../../../../assets/images/login-img.jpg" alt="">
			</div>
			
			<div class="col-md-6 login-form flex-center">
					
				<form class="app-form"  [formGroup]="formGroup" (ngSubmit)="onSubmit()">  
					<div class="app-form-inner"> 

						<h1>Easybuilding Admin</h1>
						<p *ngIf="noUserAvailable" class="error-names">Invalid Username or Password</p>
					  	<div class="form-group">
							<label for="">Email or Username</label>
					    	<input placeholder="" formControlName="username" class="form-control" [(ngModel)]="userDetails.username" (ngModelChange)="clearFilter()" name="username" type="text"> 
					  	</div>
					  	<div class="form-group">
							<label for="">Password</label>
					    	<input placeholder="" formControlName="password" class="form-control" name="password" type="password" [(ngModel)]="userDetails.password" (ngModelChange)="clearFilter()">
					  	</div>
					  	 
						<button mat-button class="app-login" >Login</button> 
						 
					   
					</div> 
				</form> 
				 
			</div>
		</div>

	</div>
</div>