<div class="container-fluid login-screen full-screen">
	<div class="container inner">
		
		<div class="row inner">
			<div class="col-md-6 ad-area flex-center">
				<img src="../../../assets/images/login-img.jpg" alt="">
			</div>
			
			<div class="col-md-6 login-form flex-center">
					
				<form class="app-form"  [formGroup]="formGroup" (ngSubmit)="onSubmit()">  
					<div class="app-form-inner"> 

						<h3>Member Login</h3>
						<p *ngIf="noUserAvailable" class="error-names">Invalid Username or Password</p>
					  	<div class="form-group">
					    	<input placeholder="Email or Username" formControlName="username" class="form-control" [(ngModel)]="userDetails.username" (ngModelChange)="clearFilter()" name="username" type="text"> 
					    	 <!-- <bfv-messages></bfv-messages> -->
					  	</div>
					  	<div class="form-group">
					    	<input placeholder="Password" formControlName="password" class="form-control" name="password" type="password" [(ngModel)]="userDetails.password" (ngModelChange)="clearFilter()">
					    	 <!-- <bfv-messages></bfv-messages> -->
					  	</div>
					  	 
						<button mat-button class="app-login" >Login</button> 
						 
					  	<a routerLink="" >Forgot Username/ Password?</a>
					  	<a routerLink="" class="create-account" ><strong>Create your account</strong></a>
					</div> 
				</form>

				<!-- <button mat-button  (click)="signInWithGoogle()" class="app-login" >Google</button> 
				<button mat-button  (click)="signInWithFB()" class="app-login" >FB</button> 
				<button mat-button  (click)="signOut()" class="app-login" >Sign Out</button> 
				 -->

			</div>
		</div>

	</div>
</div>