@import '../../../../styles';

.footer-area{
    padding: 4rem 0 2rem 0;
    background: #092048;

    .container{
        @include breakpointMax($tablet){
            padding-left: 3rem;
        }
    }

    .flex-wrapper{   
        @include flex();
        padding-bottom: 4rem;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;

        @include breakpoint($tablet){   
            flex-direction: row;
        } 
         
        .columns{ 
            padding-right: 1.5rem; 
            order: 1;
            max-width: 25%;
           
            @include breakpointMax($tablet){
                flex-basis: 50%;
                max-width: inherit;
                margin-bottom: 4.5rem;

            }
            
            &:first-child{ 
                @include breakpointMax($tablet){
                    order: 2;
                    flex-basis: 50%; 
                }
            } 

            @include breakpoint($tablet){
                margin-bottom: 0;
            }

            h3{
                color: #c6cfe6;
            }

            ul{
                &.social-icons{
                    li{
                        a{
                            text-decoration: none;
                            font-size: $eb-font-size - 0.2;

                            i{
                                color: $form-control-gray;
                                background-color: rgba(255, 255, 255, 0.1);
                                padding: 0.8rem;
                                display: inline-block;
                                margin-right: 1rem;
                                border-radius: 50%;
                            }

                            &:hover{
                                i{
                                    background-color: rgba(255, 255, 255, 0.2);
                                }
                            }
                        }
                    }
                }

                li{ 
                    line-height: 2.2rem;
                    margin-bottom: 1.5rem;

                    @include breakpoint($tablet){
                        margin-bottom: 1.5rem;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
 

                    a{
                        color: $bluish-gray;
                        font-size: $eb-font-size - 0.2;
                    }
                }
            }

            &.contact-details{
                img{
                    width: 15rem;
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;

                    @include breakpoint($tablet){   
                        width: 19rem;
                        margin-top: 0;
                    }
                }

                ul{

                    li{ 
                        background-repeat: no-repeat;
                        background-position: 0px 3px;
                        padding-left: 2.5rem;
                        color: $bluish-gray;
                        font-size: $eb-font-size - 0.2;
                        position: relative;

                        i{
                            position: absolute;
                            left: 0;
                            top: 4px;
                        }
 
                    }
                }
            }

            &:last-child{
                padding-right: 0;
            }

            h3{
                text-transform: uppercase;
                font-size: $eb-font-size;
                margin-bottom: 2rem;
            }
        }
    }
    
    .copyright{
        padding-top: 2rem;
        text-align: center; 
        border-top: 1px rgba(255, 255, 255, 0.1) solid;
        font-size: $eb-font-size - 0.4;
        
        p{
            color: $bluish-gray;
            font-size: inherit;
        }

        a{
            color: $base-bg-color;
            font-size: inherit;
        }
    }
}
