@import '../../../../styles';

.footer-area{
    padding: 4rem 0 2rem 0;
    background: #092048; // #04142f; // $form-control-gray; 

    .flex-wrapper{ 
        @include flex();
        align-items: baseline;
        justify-content: space-between;
        padding-bottom: 4rem;
         
        .columns{ 
            padding-right: 1.5rem; 

            h3{
                color: #c6cfe6;
            }

            ul{
                &.social-icons{
                    li{
                        a{
                            text-decoration: none;
                            font-size: 1.4rem;

                            i{
                                color: $form-control-gray;
                                background-color: rgba(255, 255, 255, 0.1);
                                padding: 0.8rem;
                                display: inline-block;
                                margin-right: 1rem;
                                border-radius: 50%;
                            }

                            &:hover{
                                i{
                                    background-color: rgba(255, 255, 255, 0.2);
                                }
                            }
                        }
                    }
                }

                li{
                    margin-bottom: 1.5rem;
                    line-height: 2.2rem;

                    &:last-child{
                        margin-bottom: 0;
                    }
 

                    a{
                        color: $bluish-gray;
                        font-size: 1.4rem;
                    }
                }
            }

            &.contact-details{
                img{
                    margin-bottom: 1.5rem;
                }

                ul{

                    li{ 
                        background-repeat: no-repeat;
                        background-position: 0px 3px;
                        padding-left: 2.5rem;
                        color: $bluish-gray;
                        font-size: 1.5rem;
                        letter-spacing: 0.03rem;

                        &.address{
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABHNCSVQICAgIfAhkiAAAALZJREFUKFPNkL0NwjAQhd/JC2QERsgIZARGSBsoLH5qrocgkJChIxuEDcIIjMAIqUH4kCM5RFagosCdv/P33smE4GjN0UOhFMEACiOz4mv4hrrACXeFioC44YJaFJJQbKVswTEsTq3g0wS1JaSHnM8eNZIT6IkKhChcpXUFqdlw4e40mfNQLMpvwruUtMmXOxrPWD6l93EiJL+RXNJ+zRffEm7S2/RnUjZl7v6StSiOW7551jd/AWOIWUVWlAvyAAAAAElFTkSuQmCC');

                        }

                        &.tel{
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABHNCSVQICAgIfAhkiAAAAPRJREFUKFONkcFtwlAQRGccK9fQQVwCVAAdpITALTKRYuzk7L2joM8BiyMlpAMogRJcAlwRsGgt8WVAJvzjat6f3RkCQJyJI/ClikExkYXN7j3GqQiJ/Cx6BGSc5RuCL/WfNUCnGMu6ye0GUuj2eGB77qRshlL5I/Hm1/vHxXT8/JaeKpb+V8VoNhF3N4gqvVRWJLqPhkETJom0dk9a1gNRMCl+8+kwqyp4r6daQZXbj7Rx1NUFqChJRNcbeKgJvL7N6riATPCRSBQEWNRv9E7Q7fOB0Q3k102lT0IAvNrM+kPAnpXeCJ1hcw5DROEea+dkY/MTjgloDeMaCWcAAAAASUVORK5CYII=');
                        }

                        &.email{
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAABHNCSVQICAgIfAhkiAAAAKhJREFUGFe90cENAVEUheH/PIm1DugAHYwKJBowayMhKOBVIG9jbVSgBSXQweiAAuZdeRthYTIrd3vPd5OTq2Ljr4ghbcZ41JGxFhufS3ig3+QMe2IK3UhI6CLpKNk9RtYS0y9s3AyCc1QxMneOk4qttxQyowKVVttZHWYSA3MEakaIlWCUchKTN/q8bkYpeAA5ove5+4mauv0ZLXc+i5GszZtSz8PehxekV0CyypfyfQAAAABJRU5ErkJggg==');
                        }
                    }
                }
            }

            &:last-child{
                padding-right: 0;
            }

            h3{
                text-transform: uppercase;
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
        }
    }
    
    .copyright{
        padding-top: 2rem;
        text-align: center; 
        border-top: 1px rgba(255, 255, 255, 0.1) solid;
        font-size: 1.3rem;
        
        p{
            color: $bluish-gray;
            font-size: inherit;
        }

        a{
            color: $base-bg-color;
            font-size: inherit;
        }
    }
}
