<div class="page-container animated fadeIn">
    <div class="container">
        <app-profile 
            [profileData]="profileData"
            (isProfileEditable)="onGetCourseversionID($event)"
        ></app-profile> 
        <div class="content-wrapper" *ngIf="isEditableMode"> 
             
                <div class="left-block"> 
                    <a routerLink="/my-account/user">Home</a><br/> 
                    <a routerLink="account-info" >Account Information</a><br/>
                    <a routerLink="contact-info" >Contact Details</a><br/>
                    
                    <a routerLink="settings">Settings</a><br/>
                    <a routerLink="/admin" *ngIf="isAdminAccessible">Admin</a><br/> 
                    
                    <button mat-button class="btn btn-warning" (click)="signOut()" >Sign Out</button> 
                </div>
                <div class="right-block">
                    <router-outlet></router-outlet>
                </div>
            
        </div>

        <div class="content-wrapper" *ngIf="!isEditableMode"> 
            <app-user [profileData]="profileData"></app-user>
        </div>
    </div>
</div>
