<div class="page-container animated fadeIn">
    <div class="container">
        <app-profile 
            [profileData]="profileData"
            (isProfileEditable)="onGetCourseversionID($event)"
        ></app-profile> 
        <div class="content-wrapper" *ngIf="isEditableMode"> 
            
            <div class="left-block"> 
                <ng-container *ngFor="let nav of navItems">
                    <a mat-button routerLinkActive="active-btn" [routerLinkActiveOptions]="{exact: true}"  routerLink="{{nav.url}}" >{{nav.title}}</a>
                </ng-container>
                <!-- <a mat-button routerLinkActive="active-btn" [routerLinkActiveOptions]="{exact: true}"  routerLink="/my-account/user/me/0">Home</a>
                
                <a mat-button routerLinkActive="active-btn" [routerLinkActiveOptions]="{exact: false}"  routerLink="contact-info" >Contact Details</a>
                <a mat-button routerLinkActive="active-btn" [routerLinkActiveOptions]="{exact: false}"  routerLink="settings">Settings</a> -->
                <a mat-button  routerLinkActive="active-btn" [routerLinkActiveOptions]="{exact: false}" routerLink="/admin" target="_blank" *ngIf="isAdminAccessible">Admin</a><br/> 
                
            </div>
            <div class="right-block">
                <router-outlet></router-outlet>
            </div>
            
        </div>

        <div class="content-wrapper" *ngIf="!isEditableMode"> 
            <app-user [profileData]="profileData"></app-user>
        </div>
    </div>
</div>
