@import '../../../../styles';
 
.page-layout{
    background: $white;
}

.content-wrapper{ 
    @include flex(); 
    flex-direction: column;
    align-items: inherit;
    padding: 0;

    @include breakpoint($tablet){
        flex-direction: row; 
    }

      .modal{
        top: -14rem;
    } 
 
    .left-block{ 
        padding-top: 0;
        order: 2;
        position: relative;
        top: -3rem;
        margin-bottom: 5rem;

        &.edit-account-mode{
            background-color: lighten($light-gray, 2%);
            width: 25rem;
            padding: 0;
            padding-top: 10rem;
            left: 2rem;
            margin-bottom: 0;

            a{
                padding: 0 2.5rem; 
            }
        }
         
        @include breakpoint($tablet){
            padding-left: 2rem;
            padding-right: 2.5rem;
            width: 29rem;
            padding-top: 15rem;
            order: 1;
            top: 0;
        }

        .contact-item-wrapper{
            padding: 2rem;
            box-shadow: -1px 1px 8px 3px rgba(196, 206, 217,  0.25);
            border-radius: 0.5rem;
            border: 1px #f1f1f1 solid;
            display: none;

            @include breakpoint($tablet){
                display: block;
            }
        }
  
        a{
            @include medium; 
            display: block;
            text-align: left;
            text-decoration: none; 
            line-height: 3.5rem;
            font-size: $eb-font-size - 0.2;
            border-radius: 0;
            
            &.active-btn{ 
                color: $base-bg-color; 
                background: lighten($base-bg-color, 32%);
                border-left: 0.5rem $base-bg-color solid;
            }
        }
    }

    .right-block{
        width: 100%;
        position: relative;
        top: -3rem;
        order: 1;

        &.edit-account-mode{
            @include breakpoint($tablet){
                padding: 1rem;
                padding-bottom: 4rem;
                left: 2rem;
            }
        }

        @include breakpoint($tablet){
            top: 0;
            width: calc(100% - 29rem); 
            order: 2;

        }

        ul.tab-list{
            position: relative;
            border-bottom: 1px $border-gray solid; 
            overflow: hidden;
            padding-left: 0;
            z-index: 1000;
            margin-top: 1rem;

            li{
                float: left;

                a{
                    padding: 1.2rem 1.3rem;
                    display: block;
                    font-size: $eb-font-size;
                    color: $base-color;
                    @include bold;
                    text-decoration: none;

                    @include breakpoint($tablet){
                        padding: 1.7rem 2.5rem;
                    }

                    @include breakpoint($x-small-desktop){
                        padding: 1.7rem 4rem;
                    }

                    &:hover{
                        color: $darker-gray;
                    }

                    &.active-link{
                        position: relative;
                        color: $base-bg-color; 

                        &:before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            left: 0;
                            height: 4px;
                            background-color: $base-bg-color;
            
                        }

                    }
                }
            }
        }

        .content-area{
            padding: 3rem 0;

            @include breakpoint($tablet){
                padding: 3rem 2rem;
            }
        }
    }

    app-user{
        width: 100%;
    }
     
}
 