
@import '../../../../styles';

 
.header-wrapper{
    border-bottom: 1px #f2f2f2 solid;
    background: $white; 
    z-index: 1001;

    &.sticky{
        position: fixed;
        top: 0;
        width: 100%;

        .nav-area{ 
            overflow: hidden;

            @include breakpoint($tablet){
                height: 0; 
            }
        }
    }
    //@include box-shadow(0px, 3px, 8px, 1px, rgba(210, 210, 210, 0.4));
    
    &.fixed-header{ 
        .header-area{
            position: fixed;
            background: $white;
            width: 100%;
            margin: 0;
            @include box-shadow(0px, 3px,8px, 1px, rgba(196,206,217,0.25)); 
            z-index: 1001; 
        }
    }
}
.header-area{
    padding: 0; 

    &.login-border{
        border-bottom: 1px $border-gray solid;
    }

    &.in-profile{
        .content-area{
           // padding-bottom: 1.5rem;
        } 
    }

    .mobile-menu, .search-panel{
        float: left; 
        display: block;

        @include breakpoint($tablet){
            display: none;
        }

        img{
            width: 3rem !important;
        }
    }

    .search-panel{
        margin-right: 1.5rem;
    }

    .content-area{
        padding: 1.5rem 0 1.5rem 0;
        @include flex(); 

        @include breakpoint($tablet){
            padding: 1.5rem 0 1rem 0;
        }

        img{
            width: 18rem;
        }
    }

    .search-box{ 
        width: 100%;
        margin: 0 4.5rem 0 5.5rem;
        position: relative;
        display: none;

        @include breakpointMax(767px){
            position: absolute;
            background: $white;
            top: 6.7rem;
            z-index: 100;
            left: 0;
            margin: 0;
            padding: 1.5rem;
        }

        &.opened{
            display: block;
        }
        

        @include breakpoint($tablet){
            display: block;
        }

        input{
            width: 100%;
            background-image: url('/assets/images/search.png');
            background-repeat: no-repeat;
            background-position: 15px 50%;
            padding-left: 4.2rem;
            min-height: 3.6rem;
            background-size: 1.5rem;
            font-size: 1.5rem;

            @include placeholder() {
                color: #b9b9bc;
                line-height: 6rem;;
            }
        }
        
        .search-item{
            position: absolute;
            width: 100%;
            background: $white; 
            z-index: 1002;
            box-shadow: 0px 3px 8px 1px rgba(196, 206, 217, 0.25);
            border: 1px #eee solid;

            ul{
                li{
                    padding: 1rem 1.5rem;
                    color: $darker-gray;
                    cursor: pointer;
                    border-bottom: 1px #eee solid;

                    span.search-bold-text{
                        @include bold;
                    }

                    &:hover{
                        background: $light-gray;
                    }

                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .cta-buttons{ 
        padding-left: 0;
        margin: 0; 
        margin-left: auto;
        @include flex(); 
 
        @include breakpoint($medium-desktop){
            width: 74rem;
        }

        &.short-btn-area{
            width: 45rem;

            @include breakpoint($tablet-medium){
                width: 30rem;
            }
        }

        a.login-btn{
            margin-right: 1.5rem;
            color: $base-color;
            font-family: $bold-font;
            font-weight: bold; 
            text-decoration: none;

            i{
                margin-right: 0.5rem;
            }

            &:hover{
                color: $light-blue-color;
            }
        }
         
        button{
            font-family: $normal-font; 
            padding: 0.1rem 1.25rem 0.1rem 2rem !important;;
            line-height: 3.5rem;
            
            &.btn-login{
                background-color: $light-blue-color;

                &:hover{
                    background-color: darken($light-blue-color, 10%);
                }
            }

            &.sign-up{
                margin-left: 0.5rem;
                background: $base-bg-color;
                display: none;

                @include breakpoint($tablet){
                    display: block;
                }

                i{
                    font-size: 2rem;
                    position: relative;
                    top: -2px;
                    left: -7px;
                }
            }
        } 

        .user-account{
            @include flex(); 
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            outline: 0;
            position: relative;
            margin-left: auto;
            margin-right: 1.5rem;

            @include breakpoint($tablet){
                margin: 0;
            }

            .profile-acc{
                @include flex(); 

            }

            .user-img{
                width: 3.8rem;
                height: 3.8rem;
                border-radius: 50%;
                background-color: #d4e9ff;
                background-size: cover;
                @include flex();
                align-items: center;
                justify-content: center;
                color: $base-bg-color;
                font-size: 2rem;
            }

            .user-name{
                margin-left: 1.2rem;
                display: none;

                @include breakpoint($tablet){
                    display: block;
                }

                p{
                    margin-bottom: 0;
                }
            }

            i{
                color: $dark-gray;
                margin-left: 1.5rem;

                &.icon-down-arrow{
                    display: none;

                    @include breakpoint($tablet){
                        display: block;
                    }
                }
                
 
            }

            .mini-menu{
                display: none;
                position: absolute;
                z-index: 1000;
                bottom: -13.5rem;
                width: 16rem;
                padding-top: 3rem;
 
                ul{
                    background: $white;
                    border: 1px #eee solid; 
	                @include box-shadow(0, 2px, 16px, -3px, rgba(0, 0, 0, 0.3)); 

                    li{
                        
                        a{
                            padding: 0.65rem 1rem;
                            display: block;
                            color: $dark-gray;
                            text-decoration: none;
                            font-size: 1.4rem; 

                            i{
                                color: inherit;
                                margin-left: 0;
                                margin-right: 5px;
                            }

                            &:hover{
                                background: $body-bg; 
                                color: $base-bg-color;

                                i{
                                    color: inherit;
                                }
                            }
                        }

                        &:last-child{
                            border-top: 1px darken($body-bg, 5%) solid;
                            border-bottom: 0;

                            a{
                                
                            }
                        }
                    }
                }
            } 

            &:hover{
                .mini-menu{
                    display: block; 
                }
            }
            
        }
        
    } 
}

.nav-area{
    position: fixed;
    z-index: 100; 
    background: $white; 
    width: 23rem; 
    padding: 0;
    height: 100%;
    right: -23rem; 
    top: 6.7rem;
    transition: 0.3s all ease; 

    &.opened{
        @include box-shadow(0px, 3px, 8px, 1px, rgba(210, 210, 210, 0.4));
        right: 0;
    }

    @include breakpoint($tablet){  
        transition: 0s all ease;
        right: 0;
        top: 0;
        position: relative;
        display: block;
        width: 100%;
    }

    ul.nav-item-list{
        padding-left: 0;  
        position: relative;  
        overflow: hidden;

        &.mega-menu-opened{
            overflow: initial;
        }


        @include breakpoint($tablet){
            @include flex(); 
        }
        
        @include breakpoint($small-desktop) { 
            padding: 0 10%;
        }
        

        li{
            width: 100%; 
            text-align: left;
            list-style: none;

            @include breakpoint($tablet){
                text-align: center;
            }
 

            a{
                font-family: $bold-font;
                font-weight: bold; 
                font-size: 1.4rem; 
                padding: 1rem 0;
                letter-spacing: 0.05rem;
                display: block;
                text-transform: uppercase;
                position: relative; 
                color: $base-color;

                @include breakpoint($tablet){ 
                    padding: 1rem 1.5rem 1.5rem 1.5rem;
                }

                i{ 
                    width: 2rem;
                    height: 2rem;
                    display: inline-block;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                    top: 5px;

                    &.photo-img{
                        background-image: url('/assets/images/photo.png');
                    }

                    &.products-img{
                        background-image: url('/assets/images/product.png');
                    }


                    &.shop-img{
                        background-image: url('/assets/images/storage.png');
                    }

                    &.blog-img{
                        background-image: url('/assets/images/blog.png'); 
                    }
                    
                }
                
                &:after{
                    content: ""; 
                    width: 100%;
                    height: 3px;
                    background-color: $light-blue-color; //$base-bg-color;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: none;
                }
                
                &::before{
                    content: "";
                    width: 1px;
                    height: 50%;
                    background-color: #C4CED9;
                    position: absolute;
                    right: 0;
                    top: 25%;
                    display: none;

                    @include breakpoint($tablet){
                        display: block;
                    }
                    
                }
                
            }

            &:hover{

                a{
                    &:after{
                        display: block;
                    }
                } 
            }

            .mega-menu{ 
                width: 80%;
                position: absolute;
                z-index: 100;
                background: #fff;
                padding: 1.5rem; 
                border: 1px $light-gray solid;
                @include box-shadow(0px, 3px, 8px, 1px, rgba(76, 76, 76, 0.08)); 
                left: 10%;
                z-index: -1;
                opacity: 0;
                transition: 0.4s all ease;
                display: none;

                @include breakpoint($tablet){
                    display: block;
                }

                &.active{ 
                    z-index: 20;
                    opacity: 1;
                }

                .mega-menu-inner{
                    width: 100%;
                }

                .menu-item-col{
                    width: 33.33%;
                    float: left;
                }

                h3{
                    color: $light-blue-color;
                    text-align: left; 
                    margin-bottom: 1rem;
                    font-size: 1.7rem;
                }

                ul{
                    margin-bottom: 2rem;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    li{
                        margin: 5px 0; 

                        &:last-child{
                            margin-bottom: 0;
                        }

                        &:nth-child(1){
                            margin-top: 0;
                        }

                        a{
                            padding: 0;
                            text-align: left;
                            font-size: 1.35rem;
                            line-height: 1.7rem;
                            font-family: $normal-font;
                            font-weight: normal;
                            font-style: normal;
                            text-transform: capitalize;
                            letter-spacing: 0rem; 
                            

                            &::before, &:after{
                                display: none;
                            }
                        }
                    }
                }
            }

            &:last-child{
                a{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}
