
@import '../../../../styles';

 
.header-wrapper{
    &.fixed-header{ 
        .header-area{
            position: fixed;
            background: $white;
            width: 100%;
            @include box-shadow(0px, 3px,8px, 1px, rgba(196,206,217,0.25)); 
            z-index: 1001;
        }
    }
}
.header-area{
    .content-area{
        padding: 1rem 0;
        @include flex(); 

        img{
            width: 18rem;
        }
    }

    .search-box{ 
        width: 100%;
        margin: 0 1.5rem;

        input{
            width: 100%;
            background-image: url('/assets/images/search.png');
            background-repeat: no-repeat;
            background-position: 15px 50%;
            padding-left: 4.2rem;

            @include placeholder() {
                color: #b9b9bc;
                line-height: 6rem;;
            }
        }
    }

    .cta-buttons{
        overflow: hidden;
        padding-left: 0;
        margin: 0;
        width: 42rem;
         
        button{
            font-family: $bold-font;
            font-weight: bold; 
            
            &.btn-login{
                background-color: $light-blue-color;

                &:hover{
                    background-color: darken($light-blue-color, 10%);
                }
            }

            &.sign-up{
                margin-left: 0.5rem;
            }
        }

        .user-account{
            @include flex(); 
            align-items: center;
            justify-content: center;
            cursor: pointer;
            outline: 0;

            .user-img{
                width: 3.8rem;
                height: 3.8rem;
                border-radius: 50%;
                background: #eeeeee;
            }

            .user-name{
                margin-left: 1.2rem;
                p{
                    margin-bottom: 0;
                }
            }
        }
        
    } 
}

.nav-area{
    ul.nav-item-list{
        padding-left: 0; 
        @include flex();  
        position: relative;  
        padding: 0 10%;
        

        li{
            width: 100%;
            text-align: center;
            list-style: none;
 

            a{
                font-family: $bold-font;
                font-weight: bold; 
                font-size: 1.4rem;
                color: $base-color;
                padding: 1rem 1.5rem 1.5rem 1.5rem;
                letter-spacing: 0.05rem;
                display: block;
                text-transform: uppercase;
                position: relative; 

                i{ 
                    width: 2rem;
                    height: 2rem;
                    display: inline-block;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                    top: 5px;

                    &.photo-img{
                        background-image: url('/assets/images/photo.png');
                    }

                    &.products-img{
                        background-image: url('/assets/images/product.png');
                    }


                    &.shop-img{
                        background-image: url('/assets/images/storage.png');
                    }

                    &.blog-img{
                        background-image: url('/assets/images/blog.png'); 
                    }
                    
                }
                
                &:after{
                    content: ""; 
                    width: 100%;
                    height: 3px;
                    background-color: $light-blue-color; //$base-bg-color;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: none;
                }
                
                &::before{
                    content: "";
                    width: 1px;
                    height: 50%;
                    background-color: #C4CED9;
                    position: absolute;
                    right: 0;
                    top: 25%;
                    
                }
                
            }

            &:hover{

                a{
                    &:after{
                        display: block;
                    }
                }
                
                .mega-menu{ 
                  display: block;
                }
            }

            .mega-menu{
                height: 50rem;
                width: 80%;
                position: absolute;
                z-index: 100;
                background: #fff;
                padding: 2rem;
                display: none;
                border-top: 1px $light-gray solid;

                h3{
                    color: $light-blue-color;
                    text-align: left;
                    margin-bottom: 1.5rem;
                }

                ul{
                    li{
                        a{
                            padding: 0;
                            text-align: left;
                            font-size: 1.4rem;
                            line-height: 2.3rem;
                            font-family: $normal-font;
                            font-weight: normal;
                            font-style: normal;
                            text-transform: capitalize;
                            letter-spacing: 0rem;

                            &::before, &:after{
                                display: none;
                            }
                        }
                    }
                }
            }

            &:last-child{
                a{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}
