<div class="header-wrapper"> 
    <div class="container-fluid header-area" [ngClass]="{'login-border': (logoOnly === true) }" >
        <div class="container">
            <div class="content-area">
                <div class="logo">
                    <a routerLink="/"><img src="./assets/images/easybuilding-logo.png" alt="Wasybuilding Logo"></a>
                </div>
                <div class="search-box" *ngIf="!logoOnly">
                    <input type="text" class="form-control" placeholder="Search Photos, Products & More...">
                </div>
                <div class="cta-buttons" [ngClass]="{'short-btn-area': isLogged}" *ngIf="!logoOnly"> 
                    <a routerLink="/login" *ngIf="!isLogged" class="login-btn" >Login</a> 
                    <!-- <i class="icon-profile"></i> -->
                    <a routerLink="/create-account" *ngIf="!isLogged" class="login-btn" >Register</a> 
                    <button [routerLink]="urls.upload_product" mat-button *ngIf="!isLogged" class="btn sign-up mat-button"><i class="icon-upload"></i> Upload Product/Service</button>   
                    
                    <div class="user-account" *ngIf="isLogged"> 
                        <div class="profile-acc" [routerLink]="urls.profile">
                            <div class="user-img" *ngIf="user.profie_image != ''" [ngStyle]="{'background-image': 'url('+ user.profie_image + ')'}"></div> 
                            <div class="user-img" *ngIf="user.profie_image == ''"> <span>{{user.first_name | firstLetter }}</span> </div>
                            <div class="user-name"><p>Hello, {{user.first_name}}</p></div> 
                            <i class="icon-down-arrow"></i>
                        </div> 
                        
                        <div class="mini-menu">
                            <ul>
                                <li><a [routerLink]="urls.profile"><i class="icon-profile"></i> Profile</a></li>
                                <li><a [routerLink]="urls.upload_product"><i class="icon-upload"></i> Upload Products</a></li>
                                <li><a [routerLink]="urls.settings"><i class="icon-settings"></i> Edit Account</a></li>
                                <li><a (click)="signOut()" >Sign Out</a></li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid nav-area" *ngIf="!logoOnly">
        <div class="container">
            <ul class="nav-item-list">
                <li (mouseover)="showPhotos=true" (mouseout)="showPhotos=false">
                    <a routerLink="/login"><i class="photo-img"></i>Photos</a> 
                    <div class="mega-menu" [ngClass]="{'active': showPhotos}">
                        <div class="row">
                             <div class="col-md-4" *ngFor="let photo_col of menuItemsPhotos">
                                <ng-container *ngFor="let photo of photo_col"> 
                                
                                    <h3>{{photo.title}}</h3>
                                    <ul>
                                        <li *ngFor="let misc1 of photo.children"  (click)="showPhotos=false"><a [routerLink]="misc1.url" [queryParams]="queryParamsImg" >{{misc1.title}}</a></li>
                                    </ul>  

                                </ng-container> 
                            </div>
                        </div> 
                    </div>
                </li>
                <li (mouseover)="showProducts=true" (mouseout)="showProducts=false">
                    <a routerLink="/products/1"><i class="products-img"></i>Products</a>
                    <div class="mega-menu" [ngClass]="{'active': showProducts}" >
                        <div class="row">
                           
                            <div class="col-md-4" *ngFor="let prod_col of menuItemsProduct">
                                <ng-container *ngFor="let prod of prod_col"> 
                                
                                    <h3>{{prod.title}}</h3>
                                    <ul>
                                        <li *ngFor="let misc of prod.children" (click)="showProducts=false"><a [routerLink]="misc.url" [queryParams]="queryParams" >{{misc.title}}</a></li>
                                    </ul>  

                                </ng-container> 
                            </div> 

                       </div>
                    </div>
                </li>
                <li (mouseover)="showServices=true" (mouseout)="showServices=false">
                    <a routerLink="/products/2"><i class="shop-img"></i>Services</a>
                    <div class="mega-menu" [ngClass]="{'active': showServices}">
                        <div class="row">
                             <div class="col-md-4" *ngFor="let serv_col of menuItemsServices">
                                <ng-container *ngFor="let service of serv_col"> 
                                
                                    <h3>{{service.title}}</h3>
                                    <ul>
                                        <li *ngFor="let misc1 of service.children"  (click)="showServices=false"><a [routerLink]="misc1.url" [queryParams]="queryParams" >{{misc1.title}}</a></li>
                                    </ul>  

                                </ng-container> 
                            </div>
                        </div> 
                    </div>
                </li>
                <li><a routerLink="/login"><i class="blog-img"></i>BOQ</a></li> 
                <li><a routerLink="/contact"><i class="photo-img"></i>Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<!--   <h3>header works!</h3> <a>User</a><br/> -->