<div class="container-fluid section fetured-products-area">
    <div class="container fetured-inner">
        <div class="title-area">
            <h2>Best Products</h2>
            <a class="read-more-link" routerLink="/">View More</a>
        </div>
        

        <div class="fetured-products-list">
            <ngx-slick-carousel class="carousel row" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" 
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
                <!-- col-lg-3 col-md-6 col-sm-6  -->
                <div ngxSlickItem class="fetured-products-item-wrapper" *ngFor="let fp of featuredProdList">
                    <div class="featured-item" [routerLink]="fp.profileLink">
                        <div class="item-img" [ngStyle]="{'background-image': 'url(' + fp.imgUrl + ')'}">

                        </div>
                        <div class="item-desc">
                            <div class="item-wrap">
                                <h4>{{fp.product_name}}</h4>
                                <p>By {{fp.display_name}}</p>
                            </div> 
                            <span *ngIf="fp.price != 0" class="price">{{fp.price | currency: fp.currency }} / {{fp.unit}}</span>
                            <span *ngIf="fp.price == 0" class="price"><i class="icon-tel"></i> Contact for Prices</span>
                        </div>
                    </div>
                </div> 
            </ngx-slick-carousel>
        </div>
    </div>
</div>