<div class="wrapper complete-steps">
  <div class="steps-header">
    <div class="container"> 
      <ul class="steps">
        <li *ngFor="let s of steps" [ngClass]="{'active': s.active, 'completed': s.completed }">
          <span class="icon">
            <i [ngClass]="s.icon"></i>
          </span>
          <span class="card-title">{{s.title}}</span>
          <p>{{s.subtitle}}</p>
        </li> 
      </ul> 

    </div> 
  </div>
  <div class="container"> 
    <div class="steps-form"> 
      <router-outlet></router-outlet>
    </div>
  </div>
</div>