<div class="wrapper complete-steps">
  <div class="steps-header">
    <div class="container">

      <h2>Complete Your Profile</h2> 
      <ul class="steps">
        <li class="active"><span>Basic Information</span></li>
        <li class="active"><span>Contact Details</span></li>
        <li><span>Step 1</span></li>
        <li><span>Step 1</span></li>
      </ul> 

    </div> 
  </div>
  <div class="container"> 
    <div class="steps-form"> 
      <router-outlet></router-outlet>
    </div>
  </div>
</div>