
        <form  *ngIf="profileType == -1" class="select-profile-form wrapped-block animated fadeIn" >
            <div class="row">
                <div class="col-md-12">
                    <h2>I want to create my profile as a </h2>
                </div> 
                <div class="col-md-12">  

                    <ul class="select-profile">
                        <li *ngFor="let ptl of profileTypesList; let i = index"> 
                            <div class="form-check form-check-inline"> 
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{i}}" value="{{ptl.value}}" (change)="selectedProfileType($event)">
                                <label class="form-check-label" for="inlineRadio{{i}}"> <i class="icon" [ngClass]="ptl.icon"></i>{{ ptl.title }}</label>
                            </div> 
                        </li> 
                    </ul> 

                </div>
                <div class="col-md-12">
                    <button mat-button  *ngIf="profileTypeSelectedVal != -1" name="submit" type="submit" class="btn btn-light-blue" (click)="continueSteps()" >Continue <i class="icon-dark-arrow-right"></i> </button> 
                </div>
            </div>
        </form>
        
        <form id="myform" *ngIf="profileType == 1" class="wrapped-block animated fadeIn" [formGroup]="formGroup" (ngSubmit)="saveBusinessProfile()" novalidate="novalidate">
            <div class="row">
                <div class="col-md-12 block-title" [ngClass]="{'title-only': !isStepsForm}">
                    <h2>Business Information</h2>
                    <p>Let's get started by introducing your business.</p>
                </div> 
                <div class="d-none">
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label for="first_name">First Name</label> 
                            <input id="first_name" name="first_name" formControlName="first_name" type="text" class="form-control">
                        </div>   
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name">Last Name</label> 
                            <input id="last_name" name="last_name" formControlName="last_name" type="text" class="form-control">
                        </div>  
                    </div>
                </div>   
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="display_name">Business Name <span class="required-star">*</span></label> 
                        <input id="display_name" name="display_name" formControlName="display_name" type="text" class="form-control">
                    </div>  
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label for="display_name">Select the option describes you the best? <span class="required-star">*</span></label> 
                        <ng-select2 [data]="professionalCategory" formControlName="prof_category" class="select-fw" >
                        </ng-select2> 
                    </div> 
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label for="br_no">Business Registration Number</label> 
                        <input id="br_no" name="br_no" formControlName="br_no" type="text" class="form-control"> 
                    </div> 
                </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="website">Business Website</label> 
                        <input id="website" name="website" formControlName="website" type="text" class="form-control">
                    </div>  
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <ckeditor [editor]="Editor" data="" formControlName="description"></ckeditor>
                        <!-- <textarea name="description" class="form-control" formControlName="description" cols="30" rows="8"></textarea>  -->
                    </div>  
                </div>
                <div class="d-none">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Address</label> 
                            <input id="email" name="email" formControlName="email" type="text" class="form-control" >
                        </div>
                    </div> 
                </div> 
                <div class="col-md-12">
                    <ng-container *ngIf="!isStepsForm">
                        <button mat-button name="submit" type="submit" class="btn btn-primary">Save Account Info</button>
                        <button mat-button type="button" class="btn btn-default close-btn">Close</button>
                    </ng-container>
                        
                    <ng-container *ngIf="isStepsForm"> 
                        <button mat-button name="submit" type="submit" class="btn btn-next">Next</button> 
                    </ng-container>
                    
                </div> 
            </div> 
        </form>


        <form id="myform1" *ngIf="profileType == 0" class="wrapped-block animated fadeIn" [formGroup]="personalFormGroup" (ngSubmit)="savePersonalProfile()" novalidate="novalidate">
            <div class="row"> 
                <div class="col-md-12 block-title">
                    <h2>Personal Information</h2>
                    <p>Let's get started by introducing your self.</p>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="display_name">Your Name</label> 
                        <input id="display_name" name="display_name" formControlName="display_name" type="text" class="form-control" >
                    </div>  
                </div>
                
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">About you (Optional)</label>
                        <ckeditor [editor]="Editor" data="" formControlName="description"></ckeditor>
                        <!-- <textarea name="description" class="form-control" formControlName="description" cols="30" rows="8"></textarea>  -->
                    </div>  
                </div>
                <div class="d-none">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Address</label> 
                            <input id="email" name="email" formControlName="email" type="text" class="form-control" >
                        </div>
                    </div> 
                </div> 
                <div class="col-md-12">
                    <ng-container *ngIf="!isStepsForm">
                        <button mat-button name="submit" type="submit" class="btn btn-primary">Save Account Info</button>
                        <button mat-button type="button" class="btn btn-default close-btn">Close</button>
                    </ng-container>
                        
                    <ng-container *ngIf="isStepsForm"> 
                        <button mat-button name="submit" type="submit" class="btn btn-next">Next</button> 
                    </ng-container>
                    
                </div> 
            </div> 
        </form> 