<!-- <div class="row">
    <div class="col-md-6"> -->
        <form id="myform" class="wrapped-block" [formGroup]="formGroup" (ngSubmit)="onSave()" novalidate="novalidate">
            <div class="row">
                <div class="col-md-12">
                    <h2>Account Information</h2>
                </div>
                <div class="col-md-6">  
                    <div class="form-group">
                        <label for="first_name">First Name</label> 
                        <input id="first_name" name="first_name" formControlName="first_name" type="text" class="form-control">
                    </div>   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last_name">Last Name</label> 
                        <input id="last_name" name="last_name" formControlName="last_name" type="text" class="form-control">
                    </div>  
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="display_name">Display Name</label> 
                        <input id="display_name" name="display_name" formControlName="display_name" type="text" class="form-control">
                    </div>  
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" class="form-control" formControlName="description" cols="30" rows="8"></textarea> 
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email Address</label> 
                        <input id="email" name="email" formControlName="email" disabled="disabled" type="text" class="form-control" >
                    </div>
                </div>    
                <div class="col-md-12">
                    <button mat-button name="submit" type="submit" class="btn btn-primary">Save Info</button>
                    <button mat-button type="button" class="btn btn-default close-btn">Close</button>
                </div> 
            </div> 
        </form>
    <!-- </div>   
</div> -->