<div class="page-container animated fadeIn">
  <div class="about-data block">
    <h3>About</h3>
    <div class="desc" [innerHTML]="profileData.description"></div>
  </div>
  <div class="project-data block">
    <h3>Project</h3>
    <div class="add-new-project" routerLink="/my-account/user/me/0/upload-project">
      <div class="inner">
        <span class="plus"></span>
        <h3>Add New Project</h3>
      </div>
    </div>
    <!-- <p><i>No project available.</i></p> -->
  </div>
  <div class="about-data block">
    <h3>Reviews</h3>
    <p><i>No reviews available.</i></p>
  </div>
</div>
