
 <div class="categories-wrapper featured-products-categories">  
    <h2 *ngIf="!isAdminData">Sri Lankan Architectural House Designs</h2> 

    <div class="category-holder">   
        <div *ngIf="!isCategoryLoaded" class="skelton-wrapper">
            <div class="category-item skelton">
                <div class="category-bg-img skeleton-box"></div> 
                <div class="category-footer">
                    <p class="skeleton-box">Category Item</p>
                </div>
            </div>  
            <div class="category-item skelton">
                <div class="category-bg-img skeleton-box"></div> 
                <div class="category-footer">
                    <p class="skeleton-box">Category Item</p>
                </div>
            </div>
        </div> 
        
        <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" 
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            
            <div ngxSlickItem *ngFor="let categories of featuredProductsCategories" class="slide">
                <div class="category-item" [class.disabled-link]="isAdminData ? true : null"  (click)="gotoURL(categories)">
                    <div class="category-bg-img" *ngIf="categories.file_name != ''" [ngStyle]="{'background-image':  'url('+ bgImageCatPath + categories.file_name + ')' , 'background-size': 'cover' }">
                        <img [src]="bgImageCatPath + categories.file_name" [alt]="categories.cat_lvl2_name ">
                    </div>
                    <div class="category-bg-img" *ngIf="categories.file_name == ''"> </div>
                    <div class="category-footer">
                        {{ categories.cat_lvl2_name }}
                    </div>
                </div> 
            </div>
            
        </ngx-slick-carousel>
    </div> 
</div>