<form id="myform" class="wrapped-block animated fadeIn" [formGroup]="formGroup" (ngSubmit)="onSave()" novalidate="novalidate">
    <div class="row">
        <div class="col-md-12 block-title" [ngClass]="{'title-only': !isStepsForm}">
            <h2>{{ profileType }} Contact Details</h2>
            <p *ngIf="profileType != ''">How can clients contact you via Easybuilding platform.</p>
            <p *ngIf="profileType == ''">Add your contact details (This will be not shared with any users).</p>
        </div>
        <div class="col-md-6">  
            <div class="form-group">
                <label for="address_line1">Address Line 1 <span class="required-star" *ngIf="!isAdmin">*</span></label> 
                <input id="address_line1" name="address_line1" formControlName="address_line1" type="text" class="form-control">
            </div>   
        </div>
        <div class="col-md-6">  
            <div class="form-group">
                <label for="address_line2">Address Line 2</label> 
                <input id="address_line2" name="address_line2" formControlName="address_line2" type="text" class="form-control">
            </div>   
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City <span class="required-star">*</span></label> 
                <input id="city" name="city" formControlName="city" type="text" class="form-control">
            </div>  
        </div> 
        <div class="contact_no col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tel1">Phone Number <span class="required-star">*</span></label> 
                        <input id="tel1" name="tel1" formControlName="tel1" type="text" class="form-control">
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tel2">Other Contact Number</label> 
                        <input id="tel2" name="tel2" formControlName="tel2" type="text" class="form-control">
                    </div>  
                </div>
            </div> 
        </div>
        
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">{{ profileType }} Email Address <span class="required-star" *ngIf="!isAdmin">*</span></label> 
                <input id="email" name="email" formControlName="email" type="text" class="form-control" >
            </div>
        </div>    
        <div class="col-md-12 btn-wrapper">
            <ng-container *ngIf="!isStepsForm">
                <button mat-button name="submit" type="submit" class="btn btn-primary">Save</button>
                <button mat-button type="button" class="btn btn-default close-btn">Close</button>
            </ng-container>

            <ng-container *ngIf="isStepsForm">
                <button mat-button type="button" (click)="previousLink()" class="btn btn-prev">Previous</button>
                <button mat-button name="submit" type="submit" class="btn btn-next">Next</button> 
            </ng-container>
            
        </div> 
    </div> 
</form>