<div class="profile-area">
    <div class="cover-image">

    </div>
    <div class="profile-details">
        <div class="profile-img" [ngStyle]="{'background-image': 'url('+ profile.profie_image + ')', 'background-size': 'contain'}"></div>
        <div class="details-wrapper">
            <div class="details">
                <h3 *ngIf="isDisplayNameNull">{{profile.first_name}} {{profile.last_name}}</h3>
                <h3 *ngIf="!isDisplayNameNull">{{profile.display_name}}</h3> 
            </div>
            <button mat-button (click)="editProfile()"  class="btn btn-primary-transparent edit-profile"><i class="icon-pencil"></i> Edit Profile</button>
        </div>
       <!-- routerLink="/my-account/account-info" -->
    </div>  
</div>