@import '../../../../../styles';

.profile-area{
    position: relative;
    .cover-image{
        height: 25rem;
        background-color: #eeeeee;
        background-image: url(/assets/images/picture.png);
        background-repeat: no-repeat;
        background-position: 50% 50%; 
    }

    .profile-details{
        position: absolute;
        width: 100%;
        bottom: -7rem;
        @include flex();
        align-items: flex-end;

        .profile-img{
            width: 14rem;
            height: 14rem;
            margin-left: 3.5rem;
            background-color: #e0e0e0;
            border-radius: 50%;
            border: 3px #f8f8f8 solid;
            box-shadow: 0 18px 55px -9px rgba(0, 0, 0, 0.21);
            background-image: url(/assets/images/picture.png);
            background-repeat: no-repeat;
            background-position: 50% 50%; 
        }

        .details{
            margin-bottom: 3rem;
            margin-left: 1.5rem;

            h3{
                font-size: 2.3rem;
                margin-bottom: 0;
            }
        }
    } 
}