@import '../../../../../styles';

.profile-area{
    position: relative;
    
    .cover-image{
        height: 35rem;
        background-color: #eeeeee;
        background-image: url(/assets/images/picture.png);
        background-repeat: no-repeat;
        background-position: 50% 50%; 

        @include breakpoint($x-large-desktop){
            height: 40rem;
        }

        &.loader{
            background-image: url(/assets/images/loader1.svg);
            background-size: 6.5rem;
        }


        .shadow{
            position: relative;

            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 55%;
                background: linear-gradient(0deg, rgba(0,0,0,0.6) 30%, rgba(255,255,255,0) 100%);
                bottom: 0;
            }
        }

        i.icon-bin{
            position: absolute;
            right: 2rem;
            top: 2rem;
            font-size: 2.5rem;
            cursor: pointer;
            color: $white;
            z-index: 100;

            &:hover{
                color: $danger-color;
            }
        }
    }
 
    .profile-details{
        position: absolute;
        width: 100%;
        bottom: -7rem;
        @include flex();  
        
        .profile-img-wrapper{
            width: 25rem;
            height: 27rem;
            margin-left: 3.5rem;
            
            .profile-img{
                width: 100%;
                height: 100%;
                background-color: #e0e0e0; 
                border: 5px #f8f8f8 solid;
                box-shadow: 0 18px 55px -9px rgba(0, 0, 0, 0.21);
                background-image: url(/assets/images/picture.png);
                background-repeat: no-repeat;
                background-position: 50% 50%; 
            }

            a.btn-contact{
                width: 100%;
                margin-top: 1.5rem;
            } 
        }

        .details-wrapper{
            @include flex();
            @include calc("width", "100% - 17.5rem");
            margin-bottom: 0rem;
            padding: 0rem 2.5rem 0 2.5rem;

            .details{  
                color: $white;
                
                &.no-img{
                    color: inherit;
                }
                
                ul{
                    color: inherit;

                    li{
                        color: inherit;
                        letter-spacing: 0.05rem;
                        margin-bottom: 0.5rem;

                        &.name{
                            @include extra-bold;
                        }

                        &.address{
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAARCAYAAADtyJ2fAAAABHNCSVQICAgIfAhkiAAAATFJREFUKFONk8FRAkEQRd/3gjcxAvck3CwisCYCIQIlAkyBCMQIxAhcE2A3BI6LHtwMxJseoK3ZYreGAcE+7czv3/33d48IoptZYjAS9IFkA+UG6cLpMcxVfehmdgc8hWD0Xa5g8O409/cV8R+kqobBUtArnEp5ecDHgU4xlBdOTp3MJoJRiJrxJZEatAU3MXMFPXVnViIuatCTfkRSOi0P/MbYS7Wo4nPh5I1qYl+OOjNbSpw1HeF14eTHUUWSWfsUPqPiYy81R1xHwLBwmm5ID8CWAmDopR6b347h33AuX7VllKHcI6OpPKgW4DKz/gm8HJtl6Hi4clPg9hB5DYM3p7RZuTq5M7O5xNUf5MqwGms61ta3jHwPeYu00zGY2ySQvUPaS2xkZ3a/hrx+RrH8X8N8eavnE3bmAAAAAElFTkSuQmCC');
                            background-repeat: no-repeat;
                            padding-left: 2.5rem;

                            p{
                                font-style: 1.6rem;
                            }
                        }

                        h3{
                            font-size: 3rem;
                            margin-bottom: 0;
                            color: inherit;
                            display: inline-block;
                        }

                        a.edit{
                            position: relative;
                            top: -0.5rem;
                            margin-left: 1.5rem;
                            cursor: pointer;
                        }
        
                        p{ 
                            color: inherit;
                        }

                    }
                }
                
            }

            button.edit-profile{
                margin-left: auto;
                margin-right: 1.5rem;
            }
        } 
        
    } 
}

