@import '../../../../styles.scss';

.mat-menu-content{
    .mat-menu-item{
        line-height: 4rem;
        height: inherit;
        @include regular;

        .mat-icon{
            height: 1.5rem;
            width: 1.5rem;
            font-size: $eb-font-size + 0.2;
            line-height: 1.5rem;
            position: relative;
            top: -4px;
        }

    }
    
}