
@import '../../../../../styles';
 
#image-dialog.mat-dialog-container{
    padding: 0 !important;

    .popup-wrapper{
        @include flex();
        align-items: flex-start; 
        width: 100%;
    
        .img-holder{
            width: 75%; 
            min-height: 44rem;
            background: #eee;
        }
    
        .action-area{
            padding: 2.5rem;
            width: 25%;

            ul.project-image-details{
                padding: 1.5rem 0;

                li{
                    margin-bottom: 1.5rem;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    strong{
                        display: block;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            form.wrapped-block{

                strong{
                    font-size: $eb-font-size - 0.2;
                }

                button{
                    margin-right: 1.5rem;
                }
            }
        }
    }
}

.badge-warning {
    color: $white; 
}

button.upload{
    margin-left: 1.5rem;
}

body.admin-layout .approve.mat-checkbox-checked.mat-accent .mat-checkbox-background,
body.admin-layout .approve.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: $base-bg-color !important;
}