<app-header *ngIf="!isAdmin"  [logoOnly]="islogoOnly" ></app-header>
<div class="container-fluid login-page">
  
  <div *ngIf="!isAdmin" class="container">
      <h1>Sign Up in Easybuilding</h1>

      <div class="column-container">
          <div class="column">
            <form class="app-form"  [formGroup]="formGroup" (ngSubmit)="onSubmit()">  
              <div class="app-form-inner"> 
                <!-- <p *ngIf="noUserAvailable" class="error-names">Invalid Username or Password</p> -->
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="">First Name</label>
                    <input placeholder="" formControlName="firstName" class="form-control"  name="first_name" type="text"> 
                  </div>
                  <div class="form-group col-md-12">
                    <label for="">Last Name</label>
                    <input placeholder="" formControlName="lastName" class="form-control"  name="last_name" type="text"> 
                  </div>
                  <div class="form-group col-md-12">
                      <label for="">Email</label>
                      <input placeholder="" formControlName="email" class="form-control"  name="username" type="text"> 
                      <!-- <bfv-messages></bfv-messages> -->
                  </div>
                  <div class="form-group col-md-12">
                      <label for="">Password</label>
                      <input placeholder="" formControlName="password" class="form-control" name="password" type="password" >
                      <!-- <bfv-messages></bfv-messages> -->
                  </div>
                  
                  <div class="form-group col-md-12">
                      <button mat-button class="app-sign-in" >Sign Up</button> 
                  </div>
                </div> 
              </div> 
            </form>
          </div>
          <div class="column">
              <div class="login-wrapper"> 
                 
                  <div class="login-accounts" *ngIf="!isLoggedIn"> 
                      <button mat-button class="btn btn-fb" (click)="signInWithFB()" ><img src="/assets/images/facebook.svg" alt=""> Sign Up with Facebook</button> 
                      <button mat-button class="btn btn-google"  (click)="signInWithGoogle()"  ><img src="/assets/images/google.svg" alt=""> Sign Up with Google</button> 
                      <div class="sign-up-wrapper">
                          <p>Already have an account? </p>
                          <button mat-button routerLink="/login" class="btn-create-account" >Login</button>  
                      </div> 
                  </div> 
                  <div class="login-accounts" *ngIf="isLoggedIn">
                      <h3>Please wait...</h3>
                  </div>
              </div>
          </div>  
      </div> 
      
  </div>  
  <div *ngIf="isAdmin" class="container">
    <div class="column-container" [ngClass]="{'flex-col-container': isAdmin}">
    <div class="column">
        <form class="app-form"  [formGroup]="formGroup" (ngSubmit)="onSubmitAdmin()">  
          <div class="app-form-inner"> 
            <!-- <p *ngIf="noUserAvailable" class="error-names">Invalid Username or Password</p> -->
            <div class="row d-none">
              <div class="form-group col-md-12">
                <label for="">First Name</label>
                <input placeholder="" formControlName="firstName" class="form-control" disabled="disabled" name="first_name" type="text"> 
              </div>
              <div class="form-group col-md-12">
                <label for="">Last Name</label>
                <input placeholder="" formControlName="lastName" class="form-control" disabled="disabled" name="last_name" type="text"> 
              </div>
              <div class="form-group col-md-12">
                  <label for="">Email</label>
                  <input placeholder="" formControlName="email" class="form-control" disabled="disabled" name="username" type="text"> 
                  <!-- <bfv-messages></bfv-messages> -->
              </div>
              <div class="form-group col-md-12">
                  <label for="">Password</label>
                  <input placeholder="" formControlName="password" class="form-control" name="password" disabled="disabled" type="password" >
                  <!-- <bfv-messages></bfv-messages> -->
              </div> 
            </div> 
            <div class="row">
              <div class="form-group col-md-12">
                <h3>Note: Please use this to create new profiles if the user has minor information to be displayed.</h3>
                <button mat-button class="app-sign-in" >Create New Profile</button> 
              </div>
            </div>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>
