<div class="boq-wrapper container-fluid  animated fadeIn">
    <div class="container boq-wrapper-inner">
         
        <div class="page-top"> 
            <div class="right-header">
                <p>Home / BOQ </p>
                <h1>Create Your BOQ</h1>   
            </div> 
        </div>
        <div class="boq-content-area">
            <div class="boq-item">
                <div class="level-img">
                    <img src="/assets/images/single-level.jpg" alt="">
                </div>
                <div class="boq-item-right">
                    <div class="top">
                        <div class="house-area-input">
                            <div class="form-group">
                                <label>House Area</label>
                                <select name="" class="form-control">
                                    <option value="">Select Option</option>
                                </select>
                            </div> 
                        </div>
                        <div class="area-input">
                            <div class="form-group">
                                <label>Width (Feet)</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Height (Feet)</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Area (Sq. Feet)</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="area-additional-options">
                            <div class="form-group">
                                <label>Floor</label>
                                <select name="" class="form-control">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Wall</label>
                                <select name="" class="form-control">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ceiling</label>
                                <select name="" class="form-control">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Roof</label>
                                <select name="" class="form-control">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <button mat-button type="submit" class="btn btn-primary">Generate Estimate</button>
                        <!-- <h3>Estimated Cost: 600,000.00</h3> -->
                    </div>
                </div>
                
                
            </div>
            
        </div>
       
    </div>
</div>