<div class="profile-page-container page-container animated fadeIn"> 
    <div *ngIf="profileData.status == 0" class="top-message blacklist-message">
        <div class="container">
            <p>Your profile has been put on hold temporary. Please contact support team.</p>
        </div>
    </div>
    <div *ngIf="profile.admin_profile" class="top-message info-message">
        <div class="container">
            <p>You are logged in as admin. <a href="">Logout</a></p>
        </div>
    </div>
    <div *ngIf="profile.verified_email <= 0 && profile.profile_editable" class="top-message error-message">
        <div class="container">
            <p>Please verify your email. We have sent you a verification link to the given mail address. <a href="javascript:void(0)" (click)="resendVerification()">Resend Verification</a></p>
        </div>
    </div> 

    <div class="profile-area">
        
        <div class="cover-image" [ngClass]="{ 'loader' : isUploading }"  >
            <i *ngIf="isBgImage && profile.profile_editable  || isBgImage && profile.admin_profile" class="icon-bin" (click)="deleteImage(0)"></i>
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="openImgUpload(fileInput, 0)" 
            (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                   
                    <div *ngIf="!isBgImage" class="drop-template">  
                        <a href="javascript:void(0)" class="upload-btn upload-cover" title="Upload cover image" *ngIf="profile.profile_editable || profile.admin_profile" (click)="openImgUpload(fileInput, 0)"></a>
                    </div>
                    <div *ngIf="isBgImage" class="preview" [ngClass]="{'shadow': bgImage}" [ngStyle]="{'background-image':bgImage}"></div>
                    
                </ng-template>
            </ngx-file-drop>  
        </div>
        <div class="profile-details-wrapper container">
            <div class="profile-details">
                <div class="profile-img-wrapper"> 
                    <div class="profile-img" *ngIf="isProfImage" [ngStyle]="{'background-image': profImage}">
                        <i class="icon-bin" *ngIf="isProfImage && profile.profile_editable || isProfImage && profile.admin_profile" (click)="deleteImage(1)"></i>
                    </div>
                    <div class="profile-img" *ngIf="!isProfImage" [ngClass]="{'no-img': !isProfImage}" [ngStyle]="{'background-image': transparent }">
                        <a href="javascript:void(0)" *ngIf="profile.profile_editable || profile.admin_profile" class="upload-btn" title="Upload profile image"  (click)="openImgUpload(fileInput, 1)"> </a>
                    </div>
                    <ng-container>
                        <a mat-button *ngIf="!isEditInProgress" class="btn btn-primary btn-contact" href="mailto:{{userEmail}}">Contact Me</a>
                    </ng-container>
                </div> 
                <div class="details-wrapper">
                    <div class="details" [ngClass]="{'no-img': !isBgImage}">
                        
                        <ul>
                            <li class="name">
                                <h3 *ngIf="isDisplayNameNull">{{profile.first_name}} {{profile.last_name}}</h3>
                                <h3 *ngIf="!isDisplayNameNull">{{profile.display_name}}</h3>  
                            </li> 
                            <li class="address" > 
                                <p><span *ngIf="profileData.prof_category != 0"></span>{{profile.city}}</p> 
                            </li>
                            <li class="reviews" *ngIf="profileData.prof_category != 0">  
                                <ul class="star-review">
                                    <li *ngFor="let rate of starRating; let i = index;">
                                        <i [ngClass]="i > rating-1 ? 'icon-star-empty' : 'icon-star-full' "></i>
                                    </li>
                                </ul>
                                <span class="review-score">{{rating}} <a routerLink="reviews/1">( {{ totalReviews }} )</a></span>
                            </li>
                        </ul>
                        
                    </div> 
                    
                    <div class="share-edit-button-wrapper" [ngClass]="{'no-img': !isBgImage}">
                        <button *ngIf="!profile.profile_editable && isBgImage && isProfImage && profileData.company_profile == 1" mat-button class="btn btn-primary share-fb" (click)="share()"><i class="icon-facebook"></i> Share</button>
                        <button *ngIf="profile.profile_editable && !isEditInProgress" mat-button class="btn btn-white-transparent edit-profile-btn " (click)="editProfile()"><i class="icon-pencil"></i> Edit Account</button>
                        <button *ngIf="profile.profile_editable && isEditInProgress" mat-button class="btn btn-white-transparent edit-profile-btn" (click)="backToProfile()" ><i class="icon-pencil"></i> Done Editing</button>
                        <button mat-button class="btn btn-primary convert-btn" *ngIf="profileData.company_profile != 1">Convert to Pro</button>
                    </div> 
                   
                </div>
        
            </div>
        </div> 
    </div>
</div>  

<input type="file" class="d-none" (change)="fileChangeEvent($event)" #fileInput />

<modal #uploadCover> 
    <modal-header> 
        <h2>Upload {{modalTitle}} Image</h2>
    </modal-header>
    <modal-content> 
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="aspectRatio.x / aspectRatio.y"
            format="jpg"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()" 
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        <!-- (cropperReady)="cropperReady()" -->
    </modal-content>
    <modal-footer> 
        <button class="btn btn-primary" mat-button (click)="onSave()">Set {{modalTitle}} Image</button> 
        <button class="btn btn-primary-transparent close-btn" mat-button (click)="closeModal()">Close</button>
    </modal-footer>
</modal>