

<h2 mat-dialog-title>Select Your {{ title }}s</h2>
<mat-dialog-content class="mat-typography" >
    <overlay-scrollbars>
        <div class="row">
                           
            <div class="col-md-4" *ngFor="let prod_col of menuItems">
                <ng-container *ngFor="let prod of prod_col"> 
                
                    <h3>{{prod.title}}</h3>
                    <ul>
                        <li *ngFor="let misc of prod.children" > 
                            <div class="form-check" >
                                <input type="checkbox" class="form-check-input"
                                 [id]="misc.id" 
                                 [checked]="popupData.selected.includes(misc.lvl2_id)" 
                                 (change)="setValue($event, misc.lvl2_id)"> 
                                 <label class="form-check-label" [for]="misc.id">{{misc.title}}</label>
                            </div>
                        </li>
                    </ul>  

                </ng-container> 
            </div> 

       </div>
    </overlay-scrollbars>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedVals" cdkFocusInitial class="btn btn-next">Set Services</button>
</mat-dialog-actions>