@import '../../../../../styles';

.item{
    margin-bottom: 3rem;

    h3{
        margin-bottom: 2rem;
        color: $base-color;
        @include extra-bold;
        font-size: 1.8rem;
    }

    p, li{
        font-size: 1.5rem; 
        line-height: 2.3rem;
        color: $dark-gray;
    }

    li{
        line-height: 1.95rem;
        margin-bottom: 1rem;
    }
}