<div class="page-container animated fadeIn">
  <div class="about-data block"> 
    <div class="about-info">
      <h3>About</h3>
      <div class="desc" [innerHTML]="profileData.description"></div> 
      <p *ngIf="profileData.description == ''"><i>No description available.</i></p>
    </div> 
    <app-common-info [profileData]="profileData"></app-common-info>
  </div>

  <ng-container *ngIf="profileData.company_profile == 1">

    <div class="project-data block">
      <h3>Products/Services</h3>
      <app-products itemLimit="3"></app-products>    
    </div>

    <div class="project-data block">
      <h3>Projects</h3>
      <app-projects itemLimit="3"></app-projects>    
    </div>

    
    <div class="about-data block last">
      <h3>Reviews</h3> 
      <app-reviews [reviewData]="reviewData" ></app-reviews> 
    </div>
  </ng-container>
</div>
