<form id="myform" class="wrapped-block animated fadeIn" [formGroup]="formGroup" (ngSubmit)="onSave()" novalidate="novalidate">
  <div class="row" *ngIf="!isCreateProfile">
        <div class="col-md-12 block-title" [ngClass]="{'title-only': !isStepsForm}">
            <h2>Offered Products/ Services</h2>
            <p>Tell your clients what products or services you provide and your service areas.</p>
        </div>
        <div class="col-md-6"> 
            <div class="form-group" >
                <label for="servic e_areas">Offered Services</label>
                <ng-select2 [data]="allServices" [options]="options" formControlName="services" class="select-fw select-service" *ngIf="product_services.services != '[]' || selectedServicesItems != ''" >
                </ng-select2>  
                <a href="javascript:void(0)" *ngIf="selectedServicesItems == ''" (click)="openServiceAreaModal()" class="service-dialog"><i class="icon-plus"></i> Select Service Categories</a>  
                <a href="javascript:void(0)" *ngIf="selectedServicesItems != ''"  (click)="openServiceAreaModal()" ><i class="icon-plus"></i> Add More Service Categories</a>  
            </div> 
        </div>
        <div class="col-md-6"> 
            <div class="form-group" >
                <label for="service_areas">Offered Products</label>
                <ng-select2 [data]="allProducts" [options]="options" formControlName="products" class="select-fw select-service" *ngIf="product_services.products != '[]' || selectedProductsItems != '' " >
                </ng-select2>  
                <a href="javascript:void(0)" *ngIf="selectedProductsItems == ''" (click)="openProductsAreaModal()" class="service-dialog"><i class="icon-plus"></i> Select Product Categories</a> 
                <a href="javascript:void(0)" *ngIf="selectedProductsItems != ''" (click)="openProductsAreaModal()"><i class="icon-plus"></i> Add More Product Categories</a> 
            </div>
        </div>  
        <div class="col-md-12 service-areas">
            <h2>Service Areas</h2>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="service_areas" class="service-label">Display my service area by  <span class="required-star">*</span></label> 
                <div class="form-check-inline">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value='cities' (change)="setServiceAreaBy($event, 0)" [checked]="isCities">City 
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value='districts' (change)="setServiceAreaBy($event, 1)" [checked]="isDistricts">District
                    </label>
                </div> 
                <div class="form-check-inline">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value='all' (change)="setServiceAreaBy($event, 2)" [checked]="all_island">All Island Service
                    </label>
                </div> 
            </div> 
            <div class="form-group" *ngIf="isDistricts && !all_island">
                <label for="service_areas">Service Areas</label> 
                <ng-select2 [data]="serviceAreasDistrict" [options]="options" formControlName="service_areas" class="select-fw" >
                </ng-select2> 
            </div> 
            <div class="form-group" *ngIf="isCities && !all_island">
                <label for="service_areas">Service Areas</label> 
                <ng-select2 [data]="serviceAreasCity" [options]="options" formControlName="service_areas" class="select-fw" >
                </ng-select2> 
            </div>    
        </div>  
       
     
     
        <div class="col-md-12 btn-wrapper">
            <ng-container *ngIf="!isStepsForm">
                <button mat-button name="submit" type="submit" class="btn btn-primary">Save</button>
                <button mat-button type="button" class="btn btn-default close-btn">Close</button>
            </ng-container>

            <ng-container *ngIf="isStepsForm">
                <button mat-button type="button" (click)="previousLink()" class="btn btn-prev">Previous</button>
                <button mat-button name="submit" type="submit" class="btn btn-next">Done</button> 
            </ng-container>
            
        </div> 
    </div> 

    <div class="create-account" *ngIf="isCreateProfile">
        <img src="/assets/images/loader1.svg" width="80" alt="">
        <h3>Creating Profile...</h3>
    </div>
</form>