@import '../../../../styles';

.container{
     
    @include breakpoint($x-small-desktop){
        min-width: 700px;
        max-width: 800px;
    }

    .column{
        width: 50%;
        padding-right: 5rem; 
        position: relative;

        &:before{
            content: '';
            background: $border-gray;
            width: 1px;
            height: 90%;
            position: absolute;
            right: 0;
        }


        &:last-child{
            padding-left: 5rem;
            padding-right: 0;
            border-right: 0;

            &:before{
                display: none;
            }
        }
    }
    
    .column-container{
        @include flex(); 

        form{
            label{
                color: $dark-gray;
                @include regular; 
            }

            .form-control{
                background: $form-control-gray;
                border-color: $border-gray;
                height: 4rem;

                &.ng-invalid.ng-touched{
                    border-color: $danger-color;
                }
            }

            .form-check{
                margin-bottom: 1rem;

                label{
                    padding-left: 0.5rem;
                }
            }
        }


        a{
            color: $base-bg-color;
        }

        button{
            width: 100%;
            margin-bottom: 1.5rem;
            padding: 0.2rem 1rem;
            @include bold;

            img{
                margin-right: 1rem;
                position: relative;
                top: -1px;
            }

            &.app-sign-in{
                background: $light-blue-color;
                color: $white;
                text-transform: uppercase;
            }

            &.app-mail-link{
                background: transparent;
                border: 1px $light-blue-color solid;
                color: $light-blue-color;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            &:last-child{
                margin-bottom: 0;
                
            }

            &.btn-create-account{
                background: #0F1BA4;
                color: $white;
            }
        }

        .login-wrapper{ 
            width: 100%;
            margin: auto; 
            margin-bottom: 5rem; 
            text-align: center;

            .login-accounts{
                width: 100%;
            }

            .sign-up-wrapper{
                padding-top: 2rem;
                border-top: 1px  $border-gray solid;
                margin-top: 2rem;

                p{
                    margin-bottom: 1.5rem;
                }
            }
        
        } 
           
        
    }

    .bottom-container{
        margin-top: 4rem;
        padding-top: 2rem;
        border-top: 1px  $border-gray solid;
    }
}

.login-page{ 
    @include calc('height', '100% - 65px');
    @include flex(); 

    h1{
        font-size: 3rem;
        margin-bottom: 3rem;
    } 
    
}

.flex-col-container{
    display: flex;
    margin: auto;

    .column{
        margin-left: 0;
        display: flex;
        margin: auto;

        h3{
            margin: 2.5rem 0;
        }
    }
}