<div class="title-area container-fluid">
    <div class="container">
        <p>{{ pageData.parentCategory }} / {{ pageData.categoryLevel1 }} </p>
        <h1>{{ pageData.categoryLevel2 }}</h1>
    </div>
</div>
<div class="products-wrapper container-fluid">
    <div class="container products-wrapper-inner">
        <div class="left-nav-sort">
            <h2>Filters</h2>
            <div class="filter-item">
                <label for="" class="lbl-title">Sort By:</label>
                <div class="form-check" *ngFor="let sb of sortByFilter">
                    <input class="form-check-input" type="radio" name="sort_by" id="{{sb.alias}}" value="{{sb.id}}" [checked]="sb.isChecked">
                    <label class="form-check-label" for="{{sb.alias}}">{{sb.option}}</label>
                </div> 
            </div>
            <div class="filter-item">
                <label for="" class="lbl-title">Select by Category:</label>
                <ng-select2 [data]="allServices" [options]="options" placeholder="Select Category Level 1" formControlName="services" class="select-fw mb-blk-5" >
                </ng-select2>  
                 
            </div>
            <div class="filter-item">
                <label for="" class="lbl-title">Sort by Location:</label>
                <div class="form-check" *ngFor="let sbl of sortByLocation">
                    <input class="form-check-input" type="checkbox" name="sort_location" id="{{sbl.alias}}" value="{{sbl.id}}" [checked]="sbl.isChecked">
                    <label class="form-check-label" for="{{sbl.alias}}">{{sbl.option}}</label>
                </div> 
                <ng-select2 [data]="allServices" [options]="options" placeholder="Search Location" formControlName="services" class="select-fw" >
                </ng-select2> 
            </div>
            <div class="filter-item">
                <label for="" class="lbl-title">By Rating:</label>
                <div class="rating-range">
                    <mat-slider [max]="5" [min]="0" [step]="1" [thumbLabel]="true"></mat-slider>
                </div>
                
                 
            </div>
        </div>
        <div class="right-content-search">
            <div class="page-top"> 
                <p *ngIf="pageData.start > 0">Showing {{ pageData.start }} – {{ pageData.end }} results from {{ pageData.total_results }} profiles</p>
                <p *ngIf="pageData.start == 0">No results found.</p>
                <ul class="view-option">
                    <li [ngClass]="{'active': isGridView }"><a href="javascipt:void(0)" (click)="gridView()"><i class="icon-grid"></i></a></li>
                    <li [ngClass]="{'active': !isGridView }"><a href="javascipt:void(0)" (click)="listView()"><i class="icon-list"></i></a></li>
                </ul>
            </div>

            <div class="row">
                <div class="item-block-wrapper" *ngFor="let p of products" [ngClass]="(isGridView)? 'col-md-4' : 'col-md-12 list_view'" >
                    <div class="item-block" [routerLink]="p.profileLink">
                        <div class="item-image" *ngIf="p.imgUrl !== ''" [ngStyle]="{'background-image': 'url('+ p.imgUrl + ')'}" [ngClass]="{'no-img': p.imgUrl === ''}"></div>
                        <div class="item-image" *ngIf="p.imgUrl == ''" [ngClass]="{'no-img': p.imgUrl === ''}"></div> 
                        <div class="item-details">
                            <h3>{{p.title}}</h3>
                            <div class="ratings-holder">
                                <star-rating  
                                    starType="icon" 
                                    [labelText]=""  
                                    [showHalfStars]="true" 
                                    labelPosition="right" 
                                    [rating]="p.rating"
                                    [readOnly]="true" 
                                ></star-rating> 
                                    <!--  {{ fpl.rating | roundToDecimal:1  }}  <span class="no-of-reviews">( {{fpl.total_reviews}} Review )</span> -->
                            </div>
                            <div class="description" *ngIf="isGridView" [innerHTML]="p.description | truncateText:[115] "></div>
                            <div class="description" *ngIf="!isGridView" [innerHTML]="p.description | truncateText:[250] "></div>
                            <span class="badge badge-secondary">New</span> <span class="badge badge-secondary">Volupt atibus</span>
                            <ul class="contact-details">
                                <li class="address">{{p.contact.city}}</li>
                                <li class="tel">{{p.contact.tel}}</li>
                            </ul>  
                        </div>
                        <div class="clearfix"></div>
                    </div>
                     
                </div>

                 
            </div>

        </div>
      
        
    </div>
</div>