 
<div class="products-wrapper container-fluid  animated fadeIn">
    <div class="container products-wrapper-inner">
        <div class="left-nav-sort" *ngIf="!isFullPageSearch">
            <h2>Filters</h2>
            <div class="filter-item">
                <label for="" class="lbl-title">Sort By:</label>
                <div class="form-check" *ngFor="let sb of sortByFilter; let i = index;">
                    <input class="form-check-input" type="radio" name="sort_by" id="{{sb.alias}}" value="{{sb.id}}" [checked]="sb.isChecked" (change)="sortChange(i, true)">
                    <label class="form-check-label" for="{{sb.alias}}">{{sb.option}}</label>
                </div> 
            </div>
             
            <div class="filter-item">
                <label for="" class="lbl-title">Sort by Service Area:</label>
                <ng-container *ngFor="let sbl of sortByLocation; let i = index;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sort_location" id="{{sbl.alias}}" value="{{sbl.id}}" [checked]="sbl.isChecked" (change)="sortByService(i, true)">
                        <label class="form-check-label" for="{{sbl.alias}}">{{sbl.option}}</label>
                    </div>  
                    <form [formGroup]="formGroup" novalidate="novalidate">
                        <ng-select2  *ngIf="(sbl.isChecked && sbl.id == 3)" [data]="serviceAreaDistricts" [options]="options" placeholder="Search Location" formControlName="services" (ngModelChange)="selectedDistricts($event)" class="select-fw select-service" >
                        </ng-select2>
                        <ng-select2  *ngIf="(sbl.isChecked && sbl.id == 4)" [data]="serviceAreaCities" [options]="options" placeholder="Search Location" formControlName="services" (ngModelChange)="selectedCities($event)" class="select-fw select-service" >
                        </ng-select2>
                    </form>
                </ng-container>
            </div>
        </div>  
        <div class="right-content-search" [ngClass]="{'no-results': (pageData.start == 0 && !isFullPageSearch) , 'full-page-search': isFullPageSearch }">  
            <div class="page-top" *ngIf="!isFullPageSearch"> 
                <div class="right-header">
                    <p>{{ pageData.parentCategory }} / {{ pageData.categoryLevel1 }} </p>
                    <h1>{{ pageData.categoryLevel2 }}</h1>  
                </div>
                <ul class="view-option"  *ngIf="!isFullPageSearch">
                    <li [ngClass]="{'active': isGridView }"><a href="javascipt:void(0)" (click)="gridView()"><i class="icon-grid"></i></a></li>
                    <li [ngClass]="{'active': !isGridView }"><a href="javascipt:void(0)" (click)="listView()"><i class="icon-list"></i></a></li>
                </ul>
            </div>
            <div class="row mid-row" *ngIf="!isFullPageSearch">
                <div class="col-md-12">
                    <p *ngIf="pageData.start > 0">Showing {{ pageData.start }} – {{ pageData.end }} results from {{ pageData.total_results }} profiles</p>
                </div>
            </div> 
            <div class="row search-results" *ngIf="!isFullPageSearch">  
                <div class="item-block-wrapper" *ngFor="let p of products" [ngClass]="(isGridView)? 'col-md-4' : 'col-md-12 list_view'" >
                  
                    <div class="item-block animated fadeIn" [routerLink]="p.profileLink">
                        <div class="item-image-wrapper"> 
                            <span *ngIf="p.isAllIsland == 1" class="badge badge-primary">All Island</span>
                            <div class="item-image" *ngIf="p.imgUrl !== ''" [ngStyle]="{'background-image': 'url('+ p.imgUrl + ')'}" [ngClass]="{'no-img': p.imgUrl === ''}"></div>
                            <div class="item-image" *ngIf="p.imgUrl == ''" [ngClass]="{'no-img': p.imgUrl === ''}"></div>
                        </div>
                         
                        <div class="item-details">
                            <div class="title-and-rating">
                                <h3 [innerHTML]="p.title | highlightText : searchParam"></h3>
                                
                                <div class="ratings-holder">
                                    <star-rating  
                                        starType="icon" 
                                        [labelText]=""  
                                        [showHalfStars]="true" 
                                        labelPosition="right" 
                                        [rating]="p.rating"
                                        [readOnly]="true" 
                                    ></star-rating> 
                                    {{ p.rating | roundToDecimal:1 }}  <span class="no-of-reviews">( {{p.total_reviews}} Review )</span>
                                </div> 
                                <ul class="contact-details">
                                    <li class="address">{{p.contact.city}}</li>
                                    <li class="tel">{{p.contact.tel}}</li>  
                                </ul> 
                            </div> 
                            <!-- {{p.products}} {{p.services}} -->
                            <div class="description" *ngIf="!isGridView" [innerHTML]="p.description | truncateText:[250] "></div>
                         
                            <ul class="badge-list">
                                <li *ngFor="let product of p.products" [innerHTML]="product | highlightText : searchParam">{{product}}</li>
                                <li *ngFor="let service of p.services" [innerHTML]="service | highlightText : searchParam">{{service}}</li>
                            </ul>

                            <div class="categories" *ngIf="!isGridView">
                                <ng-container *ngFor="let sv of p.services">
                                    <span class="badge badge-secondary">{{sv}}</span>
                                </ng-container> 
                            </div> 

                            <!-- <div>  
                                <div class="summery-area">
                                    <span class="badge badge-secondary">S</span>
                                    <span class="badge badge-secondary">P</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                     
                </div>

                <div class="col-md-12 text-center" *ngIf="pageData.start != 0"> 
                    <ul class="pagination">
                        <li class="page-item" [ngClass]="{'disabled': activatedRoute.snapshot.queryParams.index == 1 }">
                          <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="navigateToNextPage(paramIndex - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let p of paginations" [ngClass]="{'active': p == activatedRoute.snapshot.queryParams.index }" >
                            <a class="page-link" href="javascript:void(0)" (click)="navigateToNextPage(p)" >{{p}}</a>
                        </li> 
                        <li class="page-item" [ngClass]="{'disabled': activatedRoute.snapshot.queryParams.index == paginations.length }">
                          <a class="page-link" href="javascript:void(0)" (click)="navigateToNextPage(paramIndex + 1)">Next</a>
                        </li>
                    </ul>
                </div>
 
            </div>


            <div class="categories-wrapper" *ngIf="isFullPageSearch"> 
                
                <h1>{{ pageData.categoryLevel2 }}</h1>  

                <div class="category-holder" *ngFor="let cl of categoriesList">
                    <h2>{{ cl.title }}</h2> 

                    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        
                        <div ngxSlickItem *ngFor="let categories of cl.children" class="slide">
                            <div class="category-item" [routerLink]="categories.url" [queryParams]="queryParams">
                                <div class="category-bg-img" *ngIf="categories.file_name != ''" [ngStyle]="{'background-image': categories.file_name, 'background-size': 'cover' }"> </div>
                                <div class="category-bg-img" *ngIf="categories.file_name == ''"> </div>
                                <div class="category-footer">
                                    {{ categories.title }}
                                </div>
                            </div> 
                        </div>
                        
                    </ngx-slick-carousel>

                     
                </div>

            </div>

        </div>
      
        
    </div>
</div>