<div class="title-area container-fluid">
    <div class="container">
        <p>Contractors</p>
        <h1>Service Providers</h1>
    </div>
</div>
<div class="products-wrapper container-fluid">
    <div class="container products-wrapper-inner">
        <div class="left-nav-sort">
            <h2>Filters</h2>
            <div class="filter-item">
                <label for="" class="lbl-title">Sort By:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort_by" id="best_match" value="option1" checked>
                    <label class="form-check-label" for="best_match">Best Match</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort_by" id="hightest_rating" value="option2">
                    <label class="form-check-label" for="hightest_rating">Highest Rating</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort_by" id="most_reviewed" value="option2">
                    <label class="form-check-label" for="most_reviewed">
                      Most Reviewed
                    </label>
                </div>
            </div>
            <div class="filter-item">
                <label for="" class="lbl-title">Select by Category:</label>
                <ng-select2 [data]="allServices" [options]="options" placeholder="Select Category Level 1" formControlName="services" class="select-fw mb-blk-5" >
                </ng-select2>  
                <ng-select2 [data]="allServices" [options]="options" placeholder="Select Category Level 2" formControlName="services" class="select-fw" >
                </ng-select2> 
            </div>
            <div class="filter-item">
                <label for="" class="lbl-title">Sort by Location:</label>
                <ng-select2 [data]="allServices" [options]="options" placeholder="Search Location" formControlName="services" class="select-fw" >
                </ng-select2> 
            </div>
            <div class="filter-item">
                <label for="" class="lbl-title">By Rating:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rate_by" id="all" value="option1" checked>
                    <label class="form-check-label" for="all">All Ratings</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rate_by" id="5star" value="option1">
                    <label class="form-check-label" for="5star">5 Star Ratings</label>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rate_by" id="4star" value="option1">
                    <label class="form-check-label" for="4star">4 Star Ratings</label>
                </div> 
            </div>
        </div>
        <div class="right-content-search">
              

        </div>
      
        
    </div>
</div>