@import '../../../../styles';

.left-nav{ 
	@include box-shadow(0, -6px, 60px, -9px, rgba(0, 0, 0, 0.21));
	z-index: 101;
	position: fixed;
	height: 100%;
	background: #1e1e2d;
	left: -150px;
	width: 12rem;
  transition: all 0.3s ease;

    &.open-nav{
		left: 0;
    }

	ul{
		padding: 0;

		li{
			list-style-type: none;

			a{
				display: block;
				padding: 10px 15px;
				text-decoration: none;
				font-family: $adminfont;
				font-weight: 700; 
				font-size: $eb-font-size + 0.4; 
				color: $white;
				border-radius: 0; 
				background-color: transparent;
				text-align: left;
				border-bottom: 1px rgba(255, 255, 255, 0.08) solid;

				&:hover, &.active-link{
					background: $base-bg-color;  
					color: $white;
				}

				i{
					font-size: $eb-font-size + 0.9;
					display: block;
					margin: auto;
					text-align: center;
				}

				span.nav-title{
					font-size: $eb-font-size - 0.3;
					line-height: 17px; 
					margin-top: 5px;
					margin-left: 0;
					position: relative; 
					text-align: center;
					display: block;
					@include medium;
				}

			}

			&.expand-nav{
				text-align: center;

				a{
					font-size: $base-font-size + 2;
				 	font-weight: 900;
				}
			}
		}
	}
}