@import '../../../../styles';

.left-nav{ 
	@include box-shadow(0, -6px, 60px, -9px, rgba(0, 0, 0, 0.21));
	z-index: 101;
	position: fixed;
	height: 100%;
	background: #1e1e2d;
	left: -150px;
	width: 12rem;
  transition: all 0.3s ease;

    &.open-nav{
		left: 0;
    }

	ul{
		padding: 0;

		li{
			list-style-type: none;

			a{
				display: block;
				padding: 10px 15px;
				text-decoration: none;
				font-family: $normal-font;
				font-weight: normal;
				font-style: normal;
				font-size: 20px;
				letter-spacing: 0.04rem;
				color: $white;
				border-radius: 0; 
				background-color: transparent;
				text-align: left;
				border-bottom: 1px rgba(255, 255, 255, 0.08) solid;

				&:hover, &.active-link{
					background: #0098e6;  
				}

				i{
					font-size: 2.8rem;
					display: block;
					margin: auto;
					text-align: center;
				}

				span.nav-title{
					font-size: 13px;
					line-height: 17px; 
					margin-top: 8px;
					margin-left: 0;
					position: relative; 
					text-align: center;
					display: block;
				}

			}

			&.expand-nav{
				text-align: center;

				a{
					font-size: $base-font-size + 2;
				 	font-weight: 900;
				}
			}
		}
	}
}