

<div class="row"> 
    <div class="col-md-12"> 
        
        <div class="featured-data row" >
            <div class="col-md-5">
                <div class="featured-data white-box-panel"> 
                    <h2 class="title">Order {{selectedCategory}} Categories</h2> 
                    <p>Drag and drop to re-order the categories and save once done.</p>
                    
                    <ng-container *ngIf="isFeatured">
                        <div class="dragbox" cdkDropList (cdkDropListDropped)="dropFeatured($event)">
                            <button *ngFor="let featured of getFeaturedData; let i = index" class="drag-item" cdkDrag>{{ featured.cat_lvl2_name }}</button>
                            <div class="dragbox-placeholder" *cdkDragPlaceholder></div>
                        </div> 
            
                        <div class="action-btn mt15">
                            <button (click)="saveFeaturedOrder()" mat-button name="submit" type="button" class="btn btn-primary">Save</button>
                            <button (click)="close()" mat-button type="button" class="btn btn-default clear-btn">Cancel</button>
                        </div> 
                    </ng-container>

                    <ng-container *ngIf="isServices">
                        <div class="featured-data">
                            <div class="dragbox" cdkDropList (cdkDropListDropped)="dropServices($event)">
                                <button *ngFor="let service of getServicesData; let i = index" class="drag-item" cdkDrag>{{ service.cat_lvl1_name }}</button>
                                <div class="dragbox-placeholder" *cdkDragPlaceholder></div>
                            </div> 
                
                            <div class="action-btn mt15">
                                <button (click)="saveServicesOrder()" mat-button name="submit" type="button" class="btn btn-primary">Save</button>
                                <button (click)="close()" mat-button type="button" class="btn btn-default clear-btn">Cancel</button>
                            </div> 
                        </div> 
                    </ng-container>
                    
                </div> 
            </div>
            <div *ngIf="isFeatured" class="col-md-7">
                <div class="white-box-panel">
                    <app-ideas-category [setCategoryData]="categoryData"></app-ideas-category>
                </div> 
            </div>
        </div> 
    </div>
</div>