<div class="about-wrapper container-fluid  animated fadeIn">
    <div class="container about-wrapper-inner">
         
        <div class="page-top"> 
            <div class="right-header">
                <p>Home / About Us </p>
                <h1>About EasyBuilding.lk</h1>   
            </div> 
        </div>
        <div class="about-content-area">
            <p>We are a leading online House and Building construction market place connecting 
            potential house and commercial building construction clients with quality and 
            reliable construction companies, individual contractors, masons, plumbers, 
            electricians, and construction and interior material suppliers in just a click 
            away.</p><br/>

            <p>We provide a reliable and trustworthy 24*7 service of reputed contractors and 
            material suppliers as listed in our website with easy guiding tools and accessories.</p>
            <br/>    

            <p>All below services are Free of Charge for all potential house or building 
            construction requirement Clients.</p><br/>    


            <ul>
                <li>Finding a reputed, Reliable, trustworthy contractor, plumber, electrician, etc, locally in just a click.</li>

                <li>Connecting reputed material suppliers locally with minimum effort.</li>
                
                <li>“1 Click, 3 Quotations” – In order to determine the best cost for your work, we will provide 3 quotations totally free of charge.</li>
                
                <li>An estimate for your own BOQ – Easy tool to calculate cost of your construction</li>
                
                <li>No unreasonable cost - Find market rates of your construction materials and services</li>
                
                <li>Posting your Construction requirement to the construction world free of charge</li>
                
                <li>Easy Deals - Best construction services and material deals</li>
                
                <li>24*7 operation – We provide fast service in finding the best servicemen.</li>
                
                <li>Rate your best contractor - Make your own rating for your contractor or material supplier.</li>
                
                <li>Find good contractors and highlight bad contractors and eliminate - BCIB (Building Construction Information Bureau)</li>
                
                <li>No more delays in your construction site - We provide construction tips to make your construction smooth and punctual</li>
                
                <li>No more breakages or reconstructions - 24*7 expertise advise to help you with your construction</li>
            </ul>
            <br/><br/>  

            <h2>Our Vision</h2>
            <p>To make constructing a building, or house an Easy Building exercise and experience</p>
            <br/><br/>  

            <h2>Our Mission</h2><br/>   
            <ul>
                <li> Make construction industry a professional, reliable, reputed and punctual industry</li>
                <li>To connect good house or building construction clients with best construction service providers to build better homes and buildings, to make Easy Building construction and create an Easy life.</li>
                <li>Standardize the construction industry as Easy Building is the way of life in Construction Industry – Not a task that you will burn your figure as it used to be.</li>
                <li>Increase the potentiality of contractors to the level of world construction standards and improve their skills, capabilities, knowledge, and reputation.</li>
            </ul>
            <br/><br/>  
           
            <h2>Our Team</h2>
            <p>Our team comprises with experienced civil, electrical and Material engineers, project managers and Quantity surveyors in order to make sure that our clients and suppliers are one big Easy construction family.</p>
                    
        </div>
       
    </div>
</div>