<div class="page-container animated fadeIn">
    <div class="map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15844.077602030757!2d79.9296691522565!3d6.888279294584316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3af8a7f800144d23!2sEasyBuilding.lk!5e0!3m2!1sen!2slk!4v1606933087330!5m2!1sen!2slk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="container">
        <div class="mid-content">
            <ul class="contact-details">
                <li>
                    <img src="./assets/images/address.png" alt="">
                    <h3>Address</h3>
                    <p [innerHTML]="companyData.company_address"></p>
                </li>
                <li>
                    <img src="./assets/images/phone.png" alt="">
                    <h3>Phone Number</h3>
                    <p>{{companyData.company_tel1}} <span *ngIf="companyData.company_tel2 != ''">, {{companyData.company_tel2}}</span></p>
                </li>
                <li>
                    <img src="./assets/images/email.png" alt="">
                    <h3>Email</h3>
                    <p>{{companyData.company_email}}</p>
                </li>
            </ul>
        </div> 
        <div class="form-content">
            <h2>Get In Touch With Us</h2>

            <div class="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="fname">First Name</label>
                            <div class="col-sm-12">          
                              <input type="text" class="form-control" id="fname" name="fname">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="lname">Last Name</label>
                            <div class="col-sm-12">          
                              <input type="text" class="form-control" id="lname" name="lname">
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="email">Email</label>
                            <div class="col-sm-12">
                              <input type="email" class="form-control" id="email" name="email">
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="subject">Subject</label>
                            <div class="col-sm-12">
                              <input type="subject" class="form-control" id="subject" name="subject">
                            </div>
                          </div>
                    </div>
                    <div class="col-md-12"> 
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="message">Message</label>
                            <div class="col-sm-12">
                            <textarea class="form-control" rows="5" id="message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>  
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-12">
					<button mat-button type="submit" class="btn btn-light-blue">Send Message</button>
				  </div>
				</div>
			</div>
        </div>
    </div>
</div>