@import '../../../../styles';

.map-area{
    background: $light-gray;
    height: 30rem;
}

.mid-content{
    padding: 5rem 0;
    border-bottom: 1px $light-gray solid;

    ul.contact-details{
        display: block;

        @include breakpoint($tablet){ 
            display: flex;
            align-items: flex-start;
            justify-content: space-around;;
        }

        li{
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: 2rem;

            @include breakpoint($tablet){ 
                margin-bottom: 0;
            }
            
            img{
                width: 6rem;

                @include breakpoint($tablet){ 
                    width: auto;
                }
            }

            h3{
                margin-top: 2rem;
                font-size: 1.6rem;
                @include medium;
            }

            p{
                color: $dark-gray;
            }
        }
    }
}

.form-content{
    padding: 5rem 0 8rem 0;

    .contact-form{
        width: 100%;
        margin: auto;

        @include breakpoint($tablet){ 
            width: 75%;
        }
    }

    h2{
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .form-control{
        background: $light-gray;
    }

    button{
        text-transform: capitalize;
    }
}