@import '../../../../styles';

.section{
    padding: 6rem 0;

    h2{
        font-size: 2.5rem;
        margin-bottom: 1.5rem; 
    }

    .title-area{
        @include flex();
        align-items: center; 
        margin-bottom: 1.5rem; 

        h2{
            font-size: 2.3rem;
            margin-bottom: 0; 
        }

        a.read-more-link{
            margin-top: 0;
            margin-left: auto;
        }
    }
}

.banner-area{
    position: relative;
    height: 48rem; 
    overflow: hidden;

    @include breakpoint($tablet){
        height: 42rem; 
    }

    .bg{
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("/assets/images/banner-image.jpg");
        background-position: 0 50%;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: cover;

        @include breakpoint($tablet){
            background-size: 100%;
        }
    }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0 , 0.5);
        position: absolute;
        z-index: 1;
    }

    .banner-inner{
       
        height: 100%;
        @include flex(); 
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: $white; 
        position: relative;
        z-index: 12;

        h1{ 
            font-size: 3.2rem;
            line-height: 4.2rem;
            margin-bottom: 1.5rem; 
            text-transform: capitalize;
        }

        p{
            font-size: $eb-font-size;
            line-height: 2.2rem;
            margin-bottom: 4rem;
            margin-top: 0.5rem;
            color: $white;
            @include regular; 
        }

        .banner-button{
             
            @include breakpoint($tablet){
                @include flex();
                align-items: center;
            }
 
            button{
                margin-right: 2.5rem;
                font-size: $eb-font-size;
                line-height: 2.8rem;
                padding: 0.6rem 3.5rem 0.6rem 6rem !important;
                background-repeat: no-repeat;
                background-position: 20px 50%;
                background-size: 2rem;
                font-weight: normal;
                font-style: normal;

                &.products-btn{
                    background-image: url("/assets/images/product-white.png");
                }

                &.services-btn{
                    margin-right: 0;
                    background-image: url("/assets/images/storage-white.png");
                }


                &.upload-btn{ 
                    margin-top: 1.5rem;
                    background: rgba(0, 0, 0, 0.3);
                    border: 1px solid;
                    padding: 0.6rem 3rem !important;
                    width: 34rem;
                    
                    i{
                        position: relative;
                        left: -8px;
                        top: -2px;
                        font-size: $eb-font-size + 0.2;
                    }

                }

                &:last-child{
                    margin-right: 0;
                }

                &.get-started{
                    @include regular;
                    font-size: $eb-font-size + 0.4;
                    line-height: 3.4rem;
                    padding: 1rem 6rem !important; 
                }
            }
        } 
    }
}

.services-area{
    padding-top: 6rem;

    h2{
        text-transform: capitalize;
    }

    p.text-center{
        font-size: $eb-font-size;
        line-height: 2.1rem; 
        color: $dark-gray;
    }

    ul.services-list{ 
        margin-top: 1.5rem;
        
        @include breakpoint($tablet){
            @include flex(); 
            margin-top: 2rem;
        }

        li{
            @include flex();
            justify-content: center; 
            width: 100%;
            list-style: none; 
            margin-bottom: 2.5rem;
            padding: 2rem;
            cursor: pointer;
            @include box-shadow(0px, 3px, 8px, 1px, rgba(196, 206, 217, 0.25)); 
            cursor: pointer;
            border-radius: 0.5rem;
            border: 1px #eee solid;
            margin-right: 2rem;
            

            &:last-child{
                margin-right: 0;
            }

            @include breakpoint($tablet){
               margin-bottom: 0;
               display: block;
            }

            @include breakpoint(900px){
                @include flex();
            }
              
            img{
                width: 5rem;

                @include breakpoint($tablet){
                    width: 5rem;
                    margin: auto;
                    margin-bottom: 1.5rem;
                    display: block; 
                }
                 
                @include breakpoint(900px){
                    width: 7rem;
                    margin-bottom: 0;
                }
            }

            .service-desc{
                margin-left: 2.5rem;

                @include breakpoint($tablet){
                    margin-left: 0;
                    text-align: center;
                }
                 
                @include breakpoint(900px){
                    margin-left: 2.5rem;
                    text-align: left;
                }
               
                h3{
                    font-size: $eb-font-size;
                    text-transform: capitalize;
                    @include medium;
                    
                    @include breakpoint($tablet){
                        margin-bottom: 0.5rem;
                    }
                }

                p{
                    color: $dark-gray;
                    line-height: 1.8rem;
                }
            }
        }
    }

    .browse-items-list{
        padding-top: 4rem;

        @include breakpoint($tablet){
            padding-top: 7rem;
        }

        .browse-wrapper{
            
            .browse-item{
                padding: 2rem 3.5rem; 
                height: 22rem;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                @include box-shadow(0px, 3px, 8px, 1px, rgba(196, 206, 217, 0.35)); 
                cursor: pointer;
                border-radius: 0.3rem;


                @include breakpoint($tablet){
                    height: 24rem;
                }

                &.item1{
                    background: #bee3fe;
                    margin-bottom: 2.5rem;

                    @include breakpoint($tablet){
                        margin-bottom: 0;
                    }

                    .content-img{
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        opacity: 0.5;
                        background-image: url('/assets/images/home-roof.png');
                        width: 100%;
                        height: 100%;
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: 114% 100%;

                        @include breakpoint($tablet){
                            opacity: 1;
                        }

                        img{
                            width: 60%;
                            display: none;
                        }
                    } 
                }

                &.item2{
                    color: $white;
                    background: rgb(7,56,60);
                    background: linear-gradient(171deg, rgba(7,56,60,1) 0%, rgba(72,165,180,1) 100%);
                    
                    .content-img{
                        position: absolute; 
                        right: -5rem; 
                        top: 1rem;
                        z-index: 1;
                        opacity: 0.5;

                        @include breakpoint($tablet){
                            opacity: 1;
                        }

                        img{
                            width: 34rem;
                        }
                    }

                    p{
                        color: inherit;
                    }

                    a.read-more-link{
                        color: #27BBFF;
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAABHNCSVQICAgIfAhkiAAAAJpJREFUGFeNkbENwlAMRO8gqWkZgM+nzAhJkznCJDACG7AC9U/BCtAGCkag/s2hLyEUTAi4s/xO9vkIUy6oILGJGda3ivf+mBZetCqnwFHCKeao+oIPOIldUDMh9lYwCH8TcNnqQGBmz0m9hDmIlYTrpaajD9oBKEZgD6Dravp/zjjHHGUy+svgC0ybx173Bg7Cz1C2MUNjQ3kAVcdSCxFOIj0AAAAASUVORK5CYII=');
                        
                    }

                   
                }
                
                .browse-content{ 
                    @include flex-column(); 
                    justify-content: center;
                    width: 100%;
                    height: 100%; 
                    z-index: 10;
                    position: relative;

                    @include breakpoint($tablet){
                        width: 50%;
                    }
    
                    h3{
                        font-size: $eb-font-size + 0.3;
                        margin-bottom: 1.5rem;
                        @include bold;
                    }

                    p{
                        line-height: 2rem;
                    }
                }  
            } 
        }
    }
} 

.fetured-banner-area{

    .fetured-inner{
        position: relative;

        @include breakpointMax(767px){
            padding: 0;
        }
    }

    ul.banner-list{
        position: relative;
        width: 100%;
        height: 60rem;
        overflow: hidden;

        
        li.banner{
            width: 100%;
            height: 100%;
            position: absolute;
            list-style: none;
            background-color: #eeeeee; 
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            opacity: 0;
            @include flex();
            z-index: 1;
            align-items: flex-end;

            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25); 
                z-index: 2;
            } 

            .slider-content{
                padding: 5rem;
                padding-bottom: 7rem;
                width: 100%;
                height: 90%;
                color: $white;
                position: relative;
                z-index: 3; 
 
                @include breakpointMax(767px){
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                @include breakpoint($tablet){
                    width: 70%;
                    height: auto;
                }

                h2{
                    color: inherit;
                    font-size: 3.2rem;

                    @include breakpoint($tablet){
                        font-size: 4rem;
                    }
                }
                
                p{
                    color: inherit;
                    font-size: $eb-font-size + 0.4;
                    line-height: 2.6rem;
                }
            }
        }
    }

    ol.silder-nav{
        position: absolute;
        bottom: 2rem;
        padding-left: 5rem;
        z-index: 1000; 

        li{
            list-style: none;
            float: left;
            width: 8rem;
            height: 5px;
            font-size: 0;
            background-color: $white;
            margin-right: 2rem;
            cursor: pointer;


            &.active-tab{
                background: $base-bg-color;
            }
        }
    }

    button.btn{
        width: 5rem;
        height: 5rem;
        display: block;
        position: absolute;
        background-color: $white;
        border: 1px $light-gray solid;
        top: 50%;
        border-radius: 50%;
        @include box-shadow(0px, 3px,8px, 1px, rgba(196,206,217,0.45)); 
        cursor: pointer;
        min-width: auto;
        padding: 0 !important;
        background-repeat: no-repeat;
        background-position: 50%; 
        z-index: 10;
        
        &.left{
            left: -1rem;
            background-image: url("/assets/images/prev.png");

        }

        &.right{
            right: -1rem;
            background-image: url("/assets/images/next.png");

        }

    }
}


.boq-banner-area{
    padding-bottom: 5rem;

    .boq-banner{ 
        position: relative;
        height: 32rem;
        @include flex();
        
        &:before{
            content: "";
            position: absolute; 
            width: 100%;
            height: 100%;
            left: 0;
            background-color: #eeeeee;
            background-image: url("/assets/images/boq-banner.jpg");
            background-size: cover;
            z-index: -1;
            opacity: 0.5;
            background-position: 75% 0;

            @include breakpoint($tablet){
                @include calc("width", "100% - 3rem");
                left: auto;
            }

            @include breakpoint($tablet-medium){ 
                opacity: 1;
                background-position: 100% 0;
            }
        }

        .boq-description{
            padding: 0 2rem;
            width: 100%;

            @include breakpoint($tablet){
                padding: 0 5rem;
            }

            @include breakpoint($tablet-medium){ 
                width: 50%;
            }

            h3{
                font-size: 3rem;
                margin-bottom: 1.5rem;
                text-transform: capitalize;
            }

            p{
                font-size: $eb-font-size;
                line-height: 2.3rem;
                margin-bottom: 2.5rem;
            }

            button{
                padding: 0.5rem 4rem !important;
                font-size: $eb-font-size;
            }
        }
    }
}