
<div class="container-fluid section banner-area">
    <div class="container banner-inner">
        <h1>One click to Building construction World</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br/> eirmod tempor invidunt ut labore et dolore.</p>
        <button mat-button class="btn btn-primary get-started">Get Started</button>
    </div>
</div>
<div class="container-fluid section services-area">
    <div class="container">
         <h2>Services we provide for you</h2>
         <p class="text-center">Lorem ipsum dolor siipsa saepe, commot amet consectetur adipisicing elit. <br/>At corporis voluptatum similique ipsa saepe, commodi, aliquam duc!</p>
    </div>
</div>
<!-- <div class="container">
    <h1>Home works!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere quasi distinctio, qui non a illum explicabo perferendis ut, nobis et, possimus quae sed quam impedit harum enim magnam veritatis!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere quasi distinctio, qui non a illum explicabo perferendis ut, nobis et, possimus quae sed quam impedit harum enim magnam veritatis!</p>
    <a routerLink="/my-account">My Account</a><br/>
    <a routerLink="/login">User</a><br/>
    <a routerLink="/admin/login">Admin Login</a><br/>
    <a routerLink="/contact">Contact</a>
</div> -->