<div class="page-container animated fadeIn">
    <div class="container-fluid section banner-area">
        <div class="bg"></div>
        <div class="container banner-inner"> 
            <h1>One click to house building world</h1>
            <p>We are a leading online House and Building construction marketplace<br class="sm-hidden"/> connecting with quality and reliable construction companies and individuals.</p>
            
            <div class="banner-button">
                <button mat-button class="btn btn-primary products-btn" routerLink="/products">Products</button>
                <button mat-button class="btn btn-primary services-btn" routerLink="/services">Services</button>  
            </div>
            <div class="banner-button">
                <button mat-button class="btn btn-primary upload-btn" routerLink="/login"><i class="icon-upload"></i> Upload Product/Service</button>
            </div>
            
        </div>
    </div>
    <div class="container-fluid section services-area">
        <div class="container">
            <app-ideas-category></app-ideas-category> 
            
            <ul class="services-list">
                <li routerLink="/photos">
                    <img src="./assets/images/design.png" alt="">
                    <div class="service-desc">
                        <h3>Design ideas</h3>
                        <p>Browse more than 20 million photos and filter based on your taste.</p>
                    </div> 
                </li>
                <li routerLink="/services">
                    <img src="./assets/images/architect.png" alt="">
                    <div class="service-desc">
                    <h3>Contractors</h3>
                    <p>Connect with local professionals who can help with your project.</p>
                    </div>
                </li>
                <li routerLink="/products">
                    <img src="./assets/images/professional.png" alt=""> 
                    <div class="service-desc">
                    <h3>Products</h3>
                    <p>Decorate and design with products from our curated collection.</p>
                    </div>
                </li>
            </ul>
            
            <div class="browse-items-list row">  
                <div class="col-md-6 browse-wrapper anim-left">
                    <div class="browse-item item1"  routerLink="/photos">
                        <div class="browse-content">
                            <div class="browse-content-inner">
                                <h3>Find House Designs</h3>
                                <p>Best house and building construction, interior designs, landscaping and all associated construction images.</p>
                                <a routerLink="/photos" class="read-more-link">View more</a>
                            </div> 
                        </div>
                        <div class="content-img">
                            <img src="./assets/images/home-roof.webp" alt="">
                        </div>
                    </div> 
                </div>
                <div class="col-md-6 browse-wrapper anim-right">
                    <div class="browse-item item2" routerLink="/products">
                        <div class="browse-content">
                            <div class="browse-content-inner"> 
                                <h3>Find Products</h3>
                                <p>Best products for home and building construction, Electrical installation, Air condition and machinery usage.</p>
                                <a routerLink="/products" class="read-more-link">View more</a>
                            </div>
                        </div> 
                        <div class="content-img">
                            <img src="./assets/images/products.webp" alt="">
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
    <app-featured-professionals></app-featured-professionals> 
    
    <div class="container-fluid boq-banner-area">
        <div class="container boq-banner">
            <div class="boq-description">
                <h3>Create your own BOQ</h3>
                <p>Easybuilding.lk has introduced an online BOQ calculator to generate your own BOQ in easy few steps. </p>
                <button mat-button class="btn btn-primary" routerLink="/create-boq">Generate BOQ</button>
            </div>
        </div> 
    </div>

    <div class="container-fluid fetured-banner-area" *ngIf="adSlides.length > 0">
      
        <div class="container fetured-inner">

            <ul class="banner-list"> 
                 
                <ng-container  *ngFor="let add of adSlides"> 
                    <li #banner class="banner" [ngStyle]="{'background-image': 'url('+ bgImagePath + add.file_name + ')'}">
                        <div class="slider-content">
                            <h2>{{add.title}}</h2>
                            <p [innerHTML]="add.description"></p>
                        </div>
                    </li>   
                </ng-container>
            </ul>
            <ol class="silder-nav">
                <li  *ngFor="let add of adSlides; let i = index;" (click)="navigateSlide(i)" [ngClass]="{'active-tab': currBannerItem == i }">{{i}}</li> 
            </ol>
            <button mat-button class="btn left" (click)="prevBanner()"></button>
            <button mat-button class="btn right" (click)="nextBanner()"></button>
        </div>
    </div>

    <app-featured-products></app-featured-products>
   
</div>
