<div class="page-container animated fadeIn">
    <div class="container-fluid section banner-area">
        <div class="bg"></div>
        <div class="container banner-inner"> 
            <h1>One click to building construction world</h1>
            <p>We are a leading online House and Building construction marketplace<br/> connecting with quality and reliable construction companies and individuals.</p>
            <button mat-button class="btn btn-primary get-started">Get Started</button>
        </div>
    </div>
    <div class="container-fluid section services-area">
        <div class="container">
            <h2 class="text-center">Services we provide for you</h2>
            <p class="text-center">We provide a reliable and trustworthy 24*7 service of reputed contractors and material <br/> suppliers as listed in our website with easy guiding tools and accessories.</p>
            
            <ul class="services-list row">
                <li class="col-md-4">
                    <img src="./assets/images/design.png" alt="">
                    <div class="service-desc">
                        <h3>Discover design ideas</h3>
                        <p>Browse more than 20 million photos and filter based on your taste.</p>
                    </div> 
                </li>
                <li class="col-md-4">
                    <img src="./assets/images/professional.png" alt="">
                    <div class="service-desc">
                    <h3>Find home professionals</h3>
                    <p>Connect with local professionals who can help with your project.</p>
                    </div>
                </li>
                <li class="col-md-4">
                    <img src="./assets/images/architect.png" alt="">
                    <div class="service-desc">
                    <h3>Shop for your home</h3>
                    <p>Decorate and design with products from our curated collection.</p>
                    </div>
                </li>
            </ul>

            <div class="browse-items-list row">  
                <div class="col-md-6 browse-wrapper">
                    <div class="browse-item item1">
                        <div class="browse-content">
                            <div class="browse-content-inner">
                                <h3>Browse Photos</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                <a href="javascript:void(0)" class="read-more-link">View more</a>
                            </div> 
                        </div>
                        <div class="content-img">
                            <img src="./assets/images/home-roof.png" alt="">
                        </div>
                    </div> 
                </div>
                <div class="col-md-6 browse-wrapper">
                    <div class="browse-item item2">
                        <div class="browse-content">
                            <div class="browse-content-inner"> 
                                <h3>Browse Products</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                <a href="javascript:void(0)" class="read-more-link">View more</a>
                            </div>
                        </div> 
                        <div class="content-img">
                            <img src="./assets/images/lamp.png" alt="">
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
    <div class="container-fluid section fetured-area">
        <div class="container fetured-inner">
            <div class="title-area">
                <h2>Featured Constructors / Professionals</h2>
                <a class="read-more-link" routerLink="/">View More</a>
            </div>
            

            <div class="featured-list row">
                <div class="col-lg-3 col-md-6 col-sm-6 featured-item-wrapper" *ngFor="let fpl of featuredProfList">
                    <div class="featured-item" [routerLink]="fpl.profileLink">
                        <div class="item-img" *ngIf="fpl.imgUrl !== ''" [ngStyle]="{'background-image': 'url('+ fpl.imgUrl + ')'}" [ngClass]="{'no-img': fpl.imgUrl === ''}"></div>
                        <div class="item-img" *ngIf="fpl.imgUrl == ''" [ngClass]="{'no-img': fpl.imgUrl === ''}"></div>
                        
                        <div class="item-desc">
                            <h4>{{fpl.title}}</h4>
                            <div class="ratings-holder">
                                <star-rating  
                                    starType="icon" 
                                    [labelText]="totalReviews"  
                                    [showHalfStars]="true" 
                                    labelPosition="right" 
                                    [rating]="fpl.rating"
                                    [readOnly]="true" 
                                ></star-rating>  {{ fpl.rating | roundToDecimal:1  }}  <span class="no-of-reviews">( {{fpl.total_reviews}} Review )</span>
                            </div>
                            
                             <ul class="contact-details">
                                <li class="address">{{ fpl.contact.city }}</li>
                                <li class="tel">{{ fpl.contact.tel }}</li>
                             </ul>                   
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>


    <div class="container-fluid fetured-banner-area">
        <div class="container fetured-inner">

            <ul class="banner-list">
                <li class="banner">
                    <div class="slider-content">
                        <h2>CM House</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat culpa, rem ducimus illum deleniti molestias odio distinctio ipsam nostrum consequuntur perspiciatis. Deleniti dicta ipsum veniam cum magnam ducimus dolore blanditiis!</p>
                    </div>
                </li>
                <li class="banner">
                    <div class="slider-content">
                        <h2>CM House #2</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat culpa, rem ducimus illum deleniti molestias.</p>
                    </div>
                </li>
                <li class="banner">
                    <div class="slider-content">
                        <h2>CM House #3</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat culpa, rem ducimus illum deleniti molestias odio distinctio ipsam nostrum consequuntur perspiciatis. </p>
                    </div>
                </li> 
            </ul>
            <ol class="silder-nav">
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ol>
            <button mat-button class="btn left" (click)="prevBanner()"></button>
            <button mat-button class="btn right" (click)="nextBanner()"></button>
        </div>
    </div>


    <div class="container-fluid section fetured-products-area">
        <div class="container fetured-inner">
            <div class="title-area">
                <h2>Featured Products </h2>
                <a class="read-more-link" routerLink="/">View More</a>
            </div>
            

            <div class="fetured-products-list row">
                <div class="col-lg-3 col-md-6 col-sm-6 fetured-products-item-wrapper" *ngFor="let fp of featuredProdList">
                    <div class="featured-item">
                        <div class="item-img" [ngStyle]="{'background-image': 'url('+ fp.imgUrl + ')'}">

                        </div>
                        <div class="item-desc">
                            <h4>{{fp.title}}</h4>
                            <p>{{fp.description}}</p>                        
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>
</div>
    <!-- <a routerLink="/contact">Home</a> -->
    <!-- <div class="container">
        <h1>Home works!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere quasi distinctio, qui non a illum explicabo perferendis ut, nobis et, possimus quae sed quam impedit harum enim magnam veritatis!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere quasi distinctio, qui non a illum explicabo perferendis ut, nobis et, possimus quae sed quam impedit harum enim magnam veritatis!</p>
        <a routerLink="/my-account">My Account</a><br/>
        <a routerLink="/login">User</a><br/>
        <a routerLink="/admin/login">Admin Login</a><br/>
        <a routerLink="/contact">Contact</a>
    </div> -->