 
<div class="products-wrapper container-fluid">
    <div class="container products-wrapper-inner"> 
        <div class="right-content-search photo-search" [ngClass]="{'no-results': pageData.start == 0 }">  
            <div class="page-top"> 
                <div class="right-header left-text">
                    <p>{{ pageData.parentCategory }} / {{ pageData.categoryLevel1 }} </p>
                    <h1>{{ pageData.categoryLevel2 }}</h1>  
                </div>
                <ul class="view-option">
                    <li [ngClass]="{'active': isGridView }"><a href="javascipt:void(0)" (click)="gridView()"><i class="icon-grid"></i></a></li> 
                </ul>
            </div>
            <div class="row mid-row">
                <div class="col-md-12">
                    <p *ngIf="pageData.start > 0">Showing {{ pageData.start }} – {{ pageData.start + pageData.end - 1 }} results from {{ pageData.total_results }} photos</p>
                </div>
            </div> 
            <div class="row">  
                <!-- col-md-3 col-sm-6 -->
                <div class="item-block-wrapper" *ngFor="let img of imageSearch; let i=index" [ngClass]="(isGridView)? 'grid_view' : 'col-md-12 list_view'" >
                    <div class="item-block img-search">
                        <div class="item-image" *ngIf="img.imgUrl !== ''" [ngStyle]="{'background-image': 'url('+ img.imgUrl + ')'}" [ngClass]="{'no-img': img.imgUrl === ''}" (click)="openInFullScreen(i)"></div> 
                        <div class="item-details">
                            <div class="project-and-company">
                                <h3 [innerHTML]="img.project_name | highlightText : searchParam"></h3> 
                                <a [routerLink]="img.profileLink">By <span [innerHTML]="img.title | highlightText : searchParam"></span></a>
                            </div>  
                        </div>
                        <div class="clearfix"></div>
                    </div>
                     
                </div>  
            </div>
            <div class="row" *ngIf="pageData.start != 0"> 
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled': activatedRoute.snapshot.queryParams.index == 1 }">
                      <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="navigateToNextPage(paramIndex - 1)">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let p of paginations" [ngClass]="{'active': p == activatedRoute.snapshot.queryParams.index }" >
                        <a class="page-link" href="javascript:void(0)" (click)="navigateToNextPage(p)" >{{p}}</a>
                    </li> 
                    <li class="page-item" [ngClass]="{'disabled': activatedRoute.snapshot.queryParams.index == paginations.length }">
                      <a class="page-link" href="javascript:void(0)" (click)="navigateToNextPage(paramIndex + 1)">Next</a>
                    </li>
                </ul>
            </div> 
        </div> 
        <div class="clearfix"></div>
    </div>
</div>