<app-header [logoOnly]="islogoOnly" ></app-header>
<div class="container-fluid login-page">
    <div class="container">

        <div class="column-container">
            <div class="column forgot-password-wrapper">
                <form class="app-form forgot-password-form"  [formGroup]="formGroup" (ngSubmit)="onSubmit()">  
                    <div class="app-form-inner" *ngIf="!isResetLinkSent">  
                        <h1>Reset Password</h1>
                        <p>Enter your email address and we'll send you a link to reset your password.</p>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input placeholder="" formControlName="email" class="form-control"  name="email" type="email"> 
                            <img *ngIf="isSubmitted" class="loading" src="/assets/images/loader1.svg" width="50" alt="">
                        </div> 
                        <div class="form-group" *ngIf="!isSubmitted"> 
                            <button mat-button class="app-sign-in" >Continue</button>  
                        </div> 
                        <div class="text-center">
                            <a routerLink="/login" >Back to login</a>
                        </div> 
                    </div> 
                    <div class="app-form-inner text-center" *ngIf="isResetLinkSent">
                        <h2>Reset password email sent!</h2>
                        <p class="reset-pass-para">Check your inbox for an email from easybuilding.lk with a password reset link.</p>
                        <div class="text-center">
                            <a routerLink="/login" >Back to login</a>
                        </div> 
                    </div>
                </form>
            </div> 
            
        </div> 
         
    </div>  
</div>