<div class="right-container  animated fadeIn">
    <div class="title">
        <h2><button mat-button class="transparent-btn back-btn"  ><i class="icon-left-arrow"></i></button> Photos</h2> 
        <div class="clearfix"></div>
    </div>
    <div class="row"> 
        <div class="col-md-12"> 
            <div class="white-box-panel">
                <h3 class="title">Client Uploaded Images</h3>
                
                <button id="refresh-btn" type="button" class="btn waves-effect waves-light blue d-none" (click)="rerender()">  Rerender  </button>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
                    <thead>
                    <tr>   
                        <th>Image Id</th>   
                        <th>Company</th> 
                        <th>Project Name</th>   
                        <th>Project ID</th>   
                        <th>Image</th> 
                        <th></th> 
                    </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>