// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
//$font-family-reg: Arial, Helvetica, sans-serif !default; 

/// Code (monospace) font family
$code-font: 'Hind Siliguri', sans-serif;
$normal-font: 'Circular Std Book'; //'Nunito', sans-serif; //;
$bold-font: 'Circular Std';
$adminfont: 'Poppins', sans-serif;

/// Base font sizes for small and large screens
/// Below that is 100%
/// @type Length
$base-font-size-mobile: 1.4rem;
$base-font-size-tablet: 1.5rem;
$base-font-size-desktop: 1.8rem;
$base-font-line-height: 1.2;

$h1-font-size: 60px;
$h2-font-size: 36px;
$h3-font-size: 25px;
$h4-font-size: 19px;
$base-font-size: 15px;


/// Main brand colours
$form-control-gray: #F0F0F0;
$body-bg: #f8f8f8;
$light-gray: #ececec;
$border-gray: #D8D8D8;
$mid-gray: #c3c3c3;
$dark-gray: #6B7380;
$darker-gray: #5d626a;
$base-color: #333333 ; //#201c1c;
$bluish-gray: #939eba;
$base-bg-color: #3C8EF9;
$light-blue-color: #27B9FD;
$dark-color: #111; //#684d32
$price-footer-color: #2d2d2d;
$dark-purple-color: #5842b2;
$white: #ffffff;
$green-color: #07a737;
$success-green-color: #00b70f;
$input-color: #f3f3f3;
$orange-color:  #ee6300;
$nav-color: $white;  // #de3939;
$danger-color:  #db2828;
$read-more: #1C7FFE;
$yellow: #FFC107;

$menu-width: 100px;
$menu-background-color: #313541;
$menu-font-color: #b1b3b5;
$menu-active-color: #86ba21;
$menu-badge: #df001f;
$sub-menu-font-color: #d8d8d8;
$menu-border-color: #e1e1e1; 
$navbar-icon-color: #676d7e;
$default-text-color: $darker-gray;
/// Grid
$grid-col: 80px;
$grid-gutter: 20px; 
$nav-height: 50px;

/// Breakpoints
$max-site-width: 1600px;
$max-content-width: 1180px;

$default-border-radius: 15px;

/// using https://github.com/at-import/breakpoint
/// Documentation: https://github.com/at-import/breakpoint/wiki
$small-device: 320px;
$md-device: 430px;
$medium-device: 480px;
$large-device: 650px;
$tablet: 768px;
$tablet-medium: 992px;
$x-small-desktop: 1024px;
$small-desktop: 1280px;
$medium-desktop: 1440px;
$large-desktop: 1600px;
$x-large-desktop: 1750px;
$img-width: 185px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;


