<div class="back-to-area">
  <div class="container">
      <a class="back-to" href="javascript:void(0)" (click)="goBack()">Back to Profile</a>
  </div> 
</div>
<div class="page-container animated fadeIn  view-project">
  <div class="container">  
    <div class="row">
      <div class="view-project-main-img col-md-9">
        <div class="img-area" [ngStyle]="{'background-image': 'url('+ mainImg +')'}" >
            <span class="full-screen-mode">
              <a href="javascript:void(0)" class="" (click)="openInFullScreen(openImageIndex)"><i class="icon-fullscreen"></i>  Full Screen</a>
            </span> 
        </div>
        <div class="project-content"> 
          <div class="top-header">
            <div class="title">
              <h1>{{projectData.project_name}}</h1> 
            </div>
             
            <ul class="design-info">
              <li class="architect"><strong>Architect :</strong> {{projectData.architect}}</li>
              <li class="contractor"><strong>Contractor :</strong>  {{projectData.contractor}}</li>
              <li class="engienner"><strong>Structural Engineer :</strong>  {{projectData.structural_engineer}}</li> 
            </ul>  
            <ul class="category-info">
              <li *ngFor="let projectCategory of projectData.project_category"><span class="badge badge-secondary">{{projectCategory}}</span></li>
            </ul>
          </div> 
          <div class="project-details">
            <ul class="additional-info">
              <li class="year"><strong>Project Year </strong>  {{projectData.project_year}}</li>
              <li class="photos"><strong>Project Cost </strong> {{projectData.project_cost}}</li>
              <li class="location"><strong>Location </strong> Colombo</li>  
            </ul> 
          </div>  
          <div class="project-desc"> 
            <p [innerHTML]="projectData.project_description"></p>
          </div>
        </div>
        
        <div class="user-profile-details">
          <div class="profile-image" (click)="gotoProfile()" [ngStyle]="{'background-image': 'url('+ profileImg +')'}"></div>
          <div class="user-details">
            <h3>{{projectData.display_name}}</h3>
            <span>{{projectData.total_reviews}} Reviews</span> 
          </div>
        </div>
      </div>

      <div class="col-md-3"> 

        <div class="row gallery-images">
          <div class="image"
           *ngFor="let item of images ; let i = index" (click)="viewImage(i)" [ngStyle]="{'background-image': 'url('+ item.data.thumb  +')'}" > 
          
          </div>
        </div> 

      
      </div>
    </div>
    
  </div>
</div>