<div class="container-fluid navigation">
    <div class="navigation-inner ">

        <div class="logo">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
             <!-- (mouseenter)="openNav()" (mouseleave)="hideNav()"  -->
            <a routerLink="/admin/dashboard">G-POS</a>
        </div>
        
        
        <div class="user"> 
            <div class="user-details">
                <div class="user-img" [ngStyle]="{'background-image': 'url('+ user.profie_image + ')'}"></div>
                <div class="user-name">Welcome, {{user.first_name}}</div> <i class="icon-down-arrow arrow-down"></i>
            </div> 
        </div>

    </div>
</div>