@import '../../../../styles';


.navigation{
	background: $nav-color;
	height: $nav-height;
	position: fixed;
	@include box-shadow(0, -6px, 60px, -9px, rgba(0, 0, 0, 0.21));
	z-index: 102; 

	.navigation-inner{
		@include flex();
		height: inherit;

		.logo{
			display: flex;
    		align-items: center; 
    		color: $base-color;

			svg{ 
				margin-right: 0;
			    cursor: pointer;
			    height: 50px;
			    width: 66px;
			    padding: 8px;

			    &:hover{
			    	opacity: 0.8;
			    }
			}
			
			a{
				color: $base-color; 
				text-transform: uppercase; 
			}

			a.visit-site{
				color: $base-color;
				font-size: 1.3rem;
				margin-right: 1.5rem;
				text-transform: capitalize;
				margin-left: 1.5rem;
			}
		}

		.edit-mode{
			margin-left: auto;
    		margin-right: 1.5rem;
    		line-height: 13px;
		    color: $base-color;
		    font-size: 12px;
		    font-weight: 300;
		    border-right: 1px rgba(255, 255, 255, 0.32) solid;
    		padding-right: 1.5rem;
		}

		.user{
			overflow: hidden; 
			cursor: pointer;
			margin-left: auto;

			.user-details{
				@include flex();
				color: $base-color;

				.user-img{
					width: 30px;
					height: 30px;
					background-color: $light-gray;
					border-radius: 50%; 
					background-image: url('/assets/images/user.png');
					background-position: 5px 7px;
    				background-size: 20px;
    				background-repeat: no-repeat;
				} 

				.user-name{
					color: inherit;
					font-size: 1.35rem;
					margin-left: 8px; 
				}

				i.arrow-down{ 
					color: inherit;
					font-size: $base-font-size - 5;
					margin-top: 3px;
				}
 
			}

			a.log-out-btn{
				font-size: 1.5rem;
				padding-left: 1.5rem;
				margin-left: 1.5rem;
				border-left: 1px #eee solid;
			}
		}

	} 
	
}