<div class="container-fluid navigation">
    <div class="navigation-inner ">

        <div class="logo"> 
            <a routerLink="/admin/dashboard">Easy<strong>ADMIN</strong></a>
        </div>
        
        
        <div class="user"> 
            <div class="user-details">
                <div class="user-img" [ngStyle]="{'background-image': 'url('+ user.profie_image + ')'}"></div>
                <div class="user-name">Welcome, {{user.first_name}}</div> <i class="icon-down-arrow arrow-down"></i>
            </div> 
        </div>

    </div>
</div>