<div class="container-fluid navigation">
    <div class="navigation-inner ">

        <div class="logo"> 
            <a routerLink="/admin/dashboard">Easy<strong>ADMIN</strong></a>
            <span>&nbsp;&nbsp;&nbsp;/</span>
            <a class="visit-site" routerLink="/" target="_blank" >Easybuilding.lk</a> 
        </div>
        
        
        <div class="user"> 
            <div class="user-details"> 
                <div class="user-img"></div>
                <div class="user-name">Welcome Admin</div>
                <a href="javascript:void(0)" class="log-out-btn" (click)="signOut()">Logout</a>
            </div> 
        </div>

    </div>
</div>