@import '../../../../styles';


.navigation{
	background: $nav-color;
	height: $nav-height;
	position: fixed;
	@include box-shadow(0, -6px, 60px, -9px, rgba(0, 0, 0, 0.21));
	z-index: 102;
	padding-left: 0;

	.navigation-inner{
		@include flex();
		height: inherit;

		.logo{
			display: flex;
    		align-items: center; 
    		color: $base-color;

			svg{ 
				margin-right: 0;
			    cursor: pointer;
			    height: 50px;
			    width: 66px;
			    padding: 8px;

			    &:hover{
			    	opacity: 0.8;
			    }
			}
			
			a{
				color: $base-color;
				font-weight: 700;
				text-transform: uppercase; 
			}
		}

		.edit-mode{
			margin-left: auto;
    		margin-right: 1.5rem;
    		line-height: 13px;
		    color: $base-color;
		    font-size: 12px;
		    font-weight: 300;
		    border-right: 1px rgba(255, 255, 255, 0.32) solid;
    		padding-right: 1.5rem;
		}

		.user{
			overflow: hidden; 
			cursor: pointer;
			margin-left: auto;

			.user-details{
				@include flex();
				color: $base-color;

				.user-img{
					width: 30px;
					height: 30px;
					background-color: $light-gray;
					border-radius: 50%; 
					background-image: url('../../../../assets/images/photo.jpg');
					background-position: 50%;
    				background-size: cover;
				}

				.user-name{
					color: inherit;
					font-size: $base-font-size - 3;
					margin-left: 8px;
					margin-right: 8px;
				}

				i.arrow-down{ 
					color: inherit;
					font-size: $base-font-size - 5;
					margin-top: 3px;
				}
			}
		}

	} 
	
}