
<div class="right-container animated fadeIn">
    <div class="title">
        <h2><button mat-button class="transparent-btn backto-btn" (click)="backToClients()" ><i class="icon-left-arrow"></i></button>Back</h2> 
        
        <div class="pull-right">
          <mat-checkbox #blacklisted_cb *ngIf="forProfileOnly" class="blacklist" [checked]="isBlacklisted" (change)="setBlacklisted($event)">Blacklisted</mat-checkbox>
          <mat-checkbox *ngIf="!isPersonalProfile && forProfileOnly" [checked]="isFeatured" [disabled]="isBlacklisted" (change)="setFeatured($event)">Featured Profile</mat-checkbox> 
          <mat-checkbox *ngIf="!forProfileOnly" [checked]="isFeaturedProduct" (change)="setFeaturedProduct($event)">Featured Product</mat-checkbox> 
          <button mat-icon-button *ngIf="forProfileOnly" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editClent()">
              <mat-icon><i class="icon-pencil"></i></mat-icon>
              <span>Edit Profile</span>
            </button>
            <button mat-menu-item (click)="openDeleteProfileModal()" *ngIf="!isManager" > 
              <!--  -->
              <mat-icon><i class="icon-bin"></i></mat-icon>
              <span>Delete Profile</span>
            </button>  
          </mat-menu>
        </div> 
        <div class="clearfix"></div>
      </div>
      <app-public-profile [getRouterParams]="routerParams"></app-public-profile>
      <!-- <app-my-account [getRouterParams]="routerParams"></app-my-account> -->
      <!-- [routeParams]="routeParams" -->
</div>