
	<div class="right-container  animated fadeIn"> 
		<app-my-account></app-my-account>
		<!-- <div class="title bg-img">
			<h2><button mat-button class="transparent-btn back-btn"  ><i class="icon-left-arrow"></i></button> Settings</h2>



			<div class="profile-img-wrapper">
				<div class="profile-img"></div>
				<h3>Profile Title</h3>

				<button mat-button routerLink="#" class="transparent-btn edit-btn" >Edit</button>
			</div>
			
 
			<div class="clearfix"></div>
		</div>
		<div class="content-area">
			<div class="row">
				<div class="col-md-5 left-content">
					<div class="inner">
						<h3>Intro</h3>

						<ul>
							<li>No 12, Galle Road, Colombo 3</li>
							<li>011 223 4567</li>
							<li>info@restaurent.lk</li> 
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci ipsum facilis, veritatis iusto quidem provident ratione a quis accusantium et earum exercitationem, sequi iure sit, aut dicta obcaecati magnam.</p><br/>

						<p>Lorem ipsum dolor sit amet</p>
					</div>
				</div>

				<div class="col-md-7 right-content">
					<div class="inner">
						<h3>Latest Reviews</h3>
						
						<ul class="reviews-list">
							<li class="review">
								<div class="user-details">
									<div class="user-img"></div>
									<h4>Nipuna Nanayakkara</h4>  
								</div>
								<div class="user-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt fuga, nostrum harum nemo minima, quidem ab hic suscipit ut, aut, saepe molestias quia eveniet accusamus beatae.</p> 

								</div>
							</li>

							<li class="review">
								<div class="user-details">
									<div class="user-img"></div>
									<h4>Nipuna Nanayakkara</h4>  
								</div>
								<div class="user-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt fuga, nostrum harum nemo minima, quidem ab hic suscipit ut, aut, saepe molestias quia eveniet accusamus beatae.</p>
								</div>
							</li>

						</ul>

					</div>
				</div>
			</div>
			
		</div> -->
	</div>
