
<div class="total-reviews">
  <h2>7 reviews</h2> 
  <button mat-button class="btn btn-transparent btn-review" (click)="reviewDialog()"><i class="icon-pencil"></i> Add a Review</button>
</div>

<ul class="reviews-list">
  <li class="reviews">

    <div class="reviews-wrapper">
      <div class="reviews-header">
        <div class="prof-img"></div>
        <div class="prof-details">
          <div class="title-n-reviews">
            <div class="title">
              <h3>Nipuna Nanayakkara</h3>
              <span class="date">08/08/2020</span>
            </div>
           <div class="reviews">
            <star-rating  
                starType="icon" 
                labelText=""  
                [showHalfStars]="true" 
                labelPosition="right" 
                [rating]="3.5"
                [readOnly]="true"
            ></star-rating>
           </div>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem id consequatur praesentium rerum quis quo et assumenda, officia corrupti, provident exercitationem hic autem nobis illo ex aliquam numquam doloribus cumque.</p>
          </div>
        </div>
      </div> 
    </div>

  </li>
</ul>

