
<div class="total-reviews" *ngIf="isShowHeader">
  <h2>{{ totalReviews }} reviews</h2> 
  <button mat-button class="btn btn-transparent btn-review" (click)="reviewDialog()">Write a Review</button>
</div>

<p  *ngIf="!isShowHeader && reviews.length == 0" ><i>No reviews available</i></p>
<ul class="reviews-list" [ngClass]="{'view-more-bg': !isShowHeader}">
  <li *ngFor="let r of reviews" class="reviews" >

    <div class="reviews-wrapper">
      <div class="reviews-header">
        <div class="prof-img"></div>
        <div class="prof-details">
          <div class="title-n-reviews">
            <div class="title-text">
              <h3>{{r.reviewer_name}}</h3>
              <span class="date">{{r.review_date}}</span>
            </div>
           <div class="reviews">
            <star-rating  
                starType="icon" 
                labelText=""  
                [showHalfStars]="true" 
                labelPosition="right" 
                [rating]="r.rating"
                [readOnly]="true"
            ></star-rating>
           </div>
          </div>
          <div class="description">
            <p>{{r.description}}</p>
          </div>
        </div>
      </div> 
    </div> 
  </li> 
</ul>

<ul class="pagination review-pagination"  *ngIf="isShowHeader && pagination.length > 1 "> 
  <li *ngFor="let page of pagination; let i = index" class="page-item">
    <a class="page-link" routerLink="#" (click)="nextPage(page)" [ngClass]="{'active': reviewIndex == page}">{{page}}</a>
  </li> 
</ul>

<div class="view-more"  *ngIf="!isShowHeader && reviews.length != 0"><a routerLink="#" (click)="gotoReview()">View more Reviews</a></div>

