<app-header [logoOnly]="islogoOnly" ></app-header>
<div class="container-fluid login-page">
    <div class="container">

        <div class="column-container">
            <div class="column forgot-password-wrapper">
                <form class="app-form forgot-password-form"  [formGroup]="formGroup" (ngSubmit)="onSubmit()">  
                    <div class="app-form-inner">  
                        <h1>Reset Password</h1> 
                        <div class="form-group">
                            <label for="">Verification Code</label>
                            <input placeholder="" formControlName="request_reset" class="form-control"  name="request_reset" type="email"> 
                            <!-- <bfv-messages></bfv-messages> -->
                        </div> 
                        <div class="form-group">
                            <label for="">Password</label>
                            <input placeholder="" formControlName="password" class="form-control" name="password" type="password" >
                            <!-- <bfv-messages></bfv-messages> -->
                        </div>
                        <div class="form-group">
                            <label for="">Retype Password</label>
                            <input placeholder="" formControlName="retype_password" class="form-control" name="retype_password" type="password" > 
                            <span class="invalid-feedback">Retype Password don't matches the Password</span>
                            <img *ngIf="isSubmitted" class="loading" src="/assets/images/loader1.svg" width="50" alt="">
                        </div>
                        <div class="form-group" *ngIf="!isSubmitted">
                            <button mat-button class="app-sign-in" >Reset Password</button>  
                        </div>  
                        <div class="text-center">
                            <a routerLink="/login" >Back to login</a>
                        </div> 
                    </div> 
                    
                </form>
            </div> 
            
        </div> 
         
    </div>  
</div>